[2014-07-15 05:31] neilcampbell opened #1 "Add additional test cases to sample"
Add test cases for:
- Get event by id
- Get events using a query string

[2014-07-15 05:34] neilcampbell opened #2 "Remove statics on MockProviderNancyRequestDispatcher"
There is some nasty static stuff on the MockProviderNancyRequestDispatcher, which basically means that Parallel tests will fail. We cannot use ThreadStatic as the request dispatcher will run in the nancy thread and the state will not be setup correctly for the test.

We can either:
1) Hold a collection of expectedRequest/Responses
2) Remove static state all together in some way (preferred)

[2014-07-15 05:36] neilcampbell opened #3 "Make test output better"
The current test output mechanism is fairly primitive and could be a lot better!

I would be nice to use a Reporter abstraction and come up with a nice way of reporting failures. BDDfy may be a good place to start for inspiration.

[2014-07-15 05:39] neilcampbell opened #4 "Create nuget package"
Create nuget package and publish to nuget.org feed, we may also decide to IL merge or include the thirdy party assemblies as resource rather than nuget dependencies.

[2014-07-16 04:41] neilcampbell opened #5 "Have a way to configure a pact broker for provider verification"
Currently we can only specify a pact file location on disc. It would be nice to use some kind of broker mechanism for resolving pact files and publishing pact files to.

[2014-07-16 04:41] #1 closed, assigned to nobody

[2014-07-18 03:52] #4 closed, assigned to neilcampbell

[2014-07-18 03:55] neilcampbell opened #6 "Setup builds"
Have a discussion about if we want to use TC or use something like travis-ci.org? We could also generate a hook to auto publish to the nuget.org package feed, when commits have been merged into master.

[2014-07-18 03:55] neilcampbell opened #7 "Do we want to IL merge (or equivalent) dependencies?"

[2014-07-23 05:45] neilcampbell opened #9 "v2 Specification"
Having this feature will be very useful for us. We are planning on building the regex matching to conform with the [v2 spec gist](https://gist.github.com/bethesque/5a35a3c1cb9fdab6dce7).

[2014-07-25 00:55] neilcampbell opened #11 "Add provider verification mechanism"
Provide a mechanism to verify if the provider was called in the way we expected during the test. The ruby library also looks to allow configuration of verifications, so it may be a nice extension point too.

[2014-07-28 12:10] #2 closed, assigned to nobody

[2014-07-31 13:03] neilcampbell opened #15 "Don't allow identical interactions"
Currently PactNet allows identical interactions to be added by a user, which creates issue in identifying an interaction uniquely.

[2014-07-31 13:05] neilcampbell opened #16 "Update specification tests from Pact-Specification project"
Either add as a Git submodule or just update the subtree to include newly added response specification tests

[2014-08-01 09:24] #16 closed, assigned to neilcampbell

[2014-08-02 06:27] neilcampbell opened #17 "Add xml response body support"

[2014-08-03 07:12] #15 closed, assigned to neilcampbell

[2014-08-06 05:03] neilcampbell opened #18 "Check query string param encoding"
Ensure that query params are correctly encoded etc

[2014-08-20 06:18] #18 closed, assigned to nobody

[2014-08-26 13:47] #11 closed, assigned to nobody

[2014-08-26 13:48] #7 closed, assigned to nobody

[2014-09-04 04:50] matt-sm opened #20 "Larger json responses fail comparison with "Too many passes required to compare objects""
I was trying to verify a json response that contained a list of about 50 objects and kept getting above error

Easy fix is to increase the _comparisonPasses in HttpBodyComparer.AssertPropertyValuesToMatch but was wondering if there is a better approach.

[2014-09-04 23:48] #20 closed, assigned to nobody

[2014-10-02 07:08] #5 closed, assigned to nobody

[2014-10-06 22:21] sawilde opened #24 "Add a 'readme' to the nuget package"
The 'readme' should provide a getting started guide and maybe even a sample to help users quickly get to grips with PACT (.NET).

It would probably be something very similar to the readme.md or even refer to the readme.md :)

[2014-10-07 11:00] sawilde opened #25 "Suggestion: Don't include packages in repository"
You can use the `.gitignore` to exclude the packages from being included in the repository but still keep the `repositories.config` in the repo. e.g.

[code]

[2014-10-07 20:07] sawilde opened #26 "Add the documentation xml file for intellisense support"
Add the doc xml file (I know people don't like writing code comments)

The doc xml file can be used to provide intellisense support - especially useful for getting people running quickly. I (personally) find adding these things early on the project make them easier to maintain than adding them at the end.

[2014-10-07 20:13] sawilde opened #27 "Missing(?) files in nuget package"
I notice the `pactnet.config` and `pactnet.pdb` are not in the nuget package.

The PDB is useful for when a crash happens and users report a defect as you will get a full stack trace with line numbers making your life so much easier.

The config file has a lot of assembly binary redirects which may or may not be important.

[2014-10-11 06:53] #27 closed, assigned to nobody

[2014-10-11 06:53] #26 closed, assigned to nobody

[2014-10-11 06:53] #25 closed, assigned to nobody

[2014-10-11 13:08] #6 closed, assigned to nobody

[2014-10-27 22:02] neilcampbell opened #32 "Update the request handling logic to match the Spec clarifications"
Based on [PR31](https://github.com/SEEK-Jobs/pact-net/pull/31), @bethesque and I have had a discussion about request handling and updates have been made to the [spec](https://github.com/bethesque/pact-specification/blob/master/implementation-guidelines/README.md#handling-requests) to clarify the implementation. We need to update the request handling logic to match the clarifications in the spec.

[2014-11-13 12:33] #32 closed, assigned to neilcampbell

[2014-11-21 04:18] danielgardiner81 opened #33 "Fail interactions when a body is supplied by no Content-Type is specified"
Currently if you setup a POST with a body but forget to set the content type it will give unclear messages as to why the interaction does not match.

[2014-11-30 02:40] #33 closed, assigned to nobody

[2014-11-30 02:41] #24 closed, assigned to nobody

[2014-12-05 01:21] xelibrion opened #34 "Mock server hangs if there is no status code specified in ProviderServiceResponse"
If developer forgets to specify status code, it's quite tricky to figure out what's going on, as mock server simply does not respond to the request.

[code]

[2014-12-07 10:08] #34 closed, assigned to nobody

[2014-12-22 00:41] xelibrion opened #35 "Add ability to verify each interaction in a separate test"
At the moment there is a couple of problems with current 'verify all interactions in one test' approach:
- it's tricky to debug since there is no easy way to isolate test scope to one particular interaction
- developers need to remember that mocks and expectations need to be reset in teardown action for interaction - would be nice to be able to follow conventions of used test frameworks

[2014-12-22 01:05] #35 closed, assigned to nobody

[2015-01-10 03:10] xelibrion opened #36 "Provider verification: output provider response to the report even if response body is not expected"
Would be useful to output exception message (that is likely to be in the response) if consumer expects 201, but there was an error and provider returned 500

[2015-01-10 03:49] xelibrion commented on #3
We're thinking it would be great to provide a diff similar to what you can get from Fiddler, but in unified format. Another difference would be to display only a request diff on consumer side, and a response diff on provider side.

![capture](https://cloud.githubusercontent.com/assets/175334/5690331/430399f2-98d6-11e4-8075-0635a28d7d2f.PNG)

We also need to keep in mind that non-exact match is not

[2015-03-04 23:52] neilcampbell opened #37 "Change setUp and tearDown during provider verification to run before and after each interaction verify"
We are currently running the setUp and tearDown functions at the start and end of the provider verification process. This should actually be run for each interaction within the verification process.

[2015-03-06 08:02] neilcampbell commented on #37
Fixed in 0e0f669a51e11ec4b12188fa1a938d66cd0fd15d

[2015-03-06 08:02] #37 closed

[2015-04-08 06:48] kevmee commented on #9
How is this going? Happy to help out.

[2015-04-08 07:16] neilcampbell commented on #9
@kevmee I have done a small PoC, however nothing concrete. I am currently working on finalising the v1 release with getting the test output nice to use. That would be great if you want to help out.

[2015-04-08 23:00] kevmee commented on #9
Sweet. Send me over what you have. I'll start looking at the source code today. I'm hoping to roll out PactNet here and I believe this feature would be awesome.

[2015-04-08 23:13] neilcampbell commented on #9
Nice!

The details can be found on the branch "feature/regex-response-matching". It's pretty stale, and we haven't fleshed out much, we were just trying to ascertain what the DSL part may look like. It's best to pretty much start again.

I would start with rolling out Pact and seeing if you actually need regex support. You can actually get pretty far with just using the provider state support and

[2015-04-08 23:37] neilcampbell commented on #9
Some more discussion about spec v2 and regex matching.

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/pact-dev/KIL2IjeS7RY/MaGi_t7i_gMJ

[2015-04-09 00:37] kevmee commented on #9
I'm working at an insurance company, we're heading down the micro services path so want to get this set up asap.

As you suggested I will be rolling it out, but do see this as a limitation - unless of course I'm missing something that caters for the following scenario:

Consumer -> POST request
Service -> returns 201 with {id=XYZ}

I need to know id exists in the body but have no idea what the val

[2015-04-09 03:13] neilcampbell commented on #9
Yeah the id scenario is a good example.

The only reason you wouldn't know what the id was, is if you could not make the data at the time the test is run, deterministic. Having deterministic state makes integrated testing much easier and way less fragile.

We are not changing the behaviour of the API in this instance, we are making the state the API uses deterministic. This is generally a sign of

[2015-04-09 04:46] kevmee commented on #9
I understand the benefit of deterministic state when mocking an external service for the sake of an integration test however I'm unsure about altering the internal state of the service that is actually under test, in this case the API.

Anyway I will be doing some work to roll this out over the next week or so. I hope to take a look at this feature at the end of next week.

[2015-04-09 05:25] neilcampbell commented on #9
This is where it gets confusing, the purpose of Pact is to validate the contract between the consumer and provider using a consumer driven approach, not to necessarily provide a testing tool for the provider itself. However as you mention, it is actually testing the provider code to some extent as well. You should still test the provider using normal unit style approaches etc.

The Ruby Pact GitHu

[2015-04-09 05:27] neilcampbell commented on #9
@kevmee But yeah, I do agree that regex matching is an awesomely useful feature.

[2015-04-09 05:38] bethesque commented on #9
Yes, I agree @neilcampbell, the purpose is to validate the contract, not to be a functional test of the provider, and agree @kevmee that regular expressions are required. An intermediate step is to do "type based" matching, where you can say, this should be a String, this should be an Integer, but I don't care what the value is.

What's the roadmap for types/regexp looking like @neilcampbell?

[2015-04-09 05:53] neilcampbell commented on #9
@bethesque Nothing in the works at the moment, however @kevmee has offered to start implementing it, which is awesome!

[2015-04-09 06:05] bethesque commented on #9
Yay @kevmee! Welcome to team pact. If you haven't already, please read: https://github.com/bethesque/pact-specification/

You're going to need the v2 spec to work from: https://github.com/bethesque/pact-specification/tree/version-2

Specifically, the regular expression specs: https://github.com/bethesque/pact-specification/blob/version-2/testcases/request/body/matches%20with%20regex.json

Be aware

[2015-04-09 06:30] kevmee commented on #9
Thanks @bethesque, for the welcome and the links :)

 @neilcampbell I'm hoping to start looking at this next week, so expect to hear a bit more from me then :) As @bethesque mentioned I will look at type based matching as an intermediate step.

Cheers

[2015-04-09 06:34] neilcampbell commented on #9
@kevmee Awesome stuff!

[2015-04-09 06:43] bethesque commented on #9
Here's a type based matching example: https://github.com/bethesque/pact-specification/blob/version-2/testcases/request/body/matches%20with%20type.json

[2015-04-09 06:45] bethesque commented on #9
The idea is that the match type specified for a node is supposed to then carry down for all children, however, that example does not show it well.

[2015-04-10 04:57] neilcampbell commented on #9
@abhayachauhan Just thought I would include you in this conversation about regex matching as I know you guys were also keen to help out with this.

[2015-04-20 00:53] abhayachauhan commented on #9
I've been nagging @neilcampbell about this!
Excellent to see some movement on it - we would really love this feature included - but we've worked around it for the moment.
I will be looking into this in the coming fortnight as we need it fairly soon!

[2015-04-20 02:02] bethesque commented on #9
@uglyog and I implemented type based matching for arrays on Friday for the JVM and Ruby impls.

[2015-04-20 13:14] neilcampbell commented on #36
Done. We now have consumer side logs in 1.0.0, which will report this info for debugging.

[2015-04-20 13:14] #36 closed

[2015-04-20 13:15] neilcampbell commented on #3
Done and release in 1.0.0. I have not implemented any unified unix style diff just yet though. We can decide to do this later.

[2015-04-20 13:15] #3 closed

[2015-04-20 23:52] xelibrion commented on #3
@neilcampbell great work with getting the v1 ready!

[2015-04-22 01:56] kevmee commented on #9
Hey folks, I'll be working on setting up pact here before getting around to this. Will keep you posted when I get a chance to get started.

[2015-04-22 01:58] neilcampbell commented on #9
@kevmee :+1:

[2015-04-28 06:20] abhayachauhan commented on #9
@neilcampbell @bethesque started working on this (type matching only)

consumer side json updated:
https://github.com/abhayachauhan/pact-net/blob/type-matching/Samples/EventApi/Consumer.Tests/pacts/consumer-event_api.json

have I missed anything? on the right track?

[2015-04-28 22:59] bethesque commented on #9
Not quite there. "requestMatchingRules" is now just "matchingRules". `"match" : "true"` isn't a thing, I think you mean `"match" : "type"`? Check this example out. https://github.com/bethesque/pact-specification/blob/version-2/testcases/request/body/matches%20with%20type.json

[2015-04-28 23:57] neilcampbell commented on #9
Hey @abhayachauhan!
On top of what @bethesque we want to have a DSL on the consumer for generating the matching expressions. @bethesque has a nice gist with what the ruby DSL may look like, we could do something similar (however we cant use functions in the same way). We did a small PoC in the feature/regex-response-matching branch (it is way behind and very stale, so only use it as a rough guide)

[2015-05-02 02:19] abhayachauhan commented on #9
Thanks @neilcampbell and @bethesque
I was offline when working so I didn't have your example with me, working from memory.
I've realigned my fork and done some refactoring. I have had a good look at your spike and it seems like a great starting point. I've refactored , I'll touch base as I progress.

[2015-05-04 06:23] davidduffett opened #38 "Ability to set JSON serialization settings"
I've noticed that the default serialization settings for the request body currently do not serialize null values.

Some rest clients, however, notably RestSharp, do serialize null values and do not directly give you the option to change these settings.  You can get over it by serializing manually using something like JSON.NET in your client.

Could we possibly be able to tweak the serialization se

[2015-05-05 04:26] neilcampbell commented on #38
Yeah this is definitely possible, I will come around and have a quick chat to grok the full details.

[2015-05-20 00:24] b3hdad opened #39 "Please add feedback on unmatched verify description"
Thank you for building the pact-net.
Just a small enhancement request.
If the description in the Verify method does not exist in the pact file, currently no feedback is given.
Please enhance so that either it fails the test or prints a warning.
Thank you.

[2015-05-21 11:24] abhayachauhan commented on #9
@neilcampbell @bethesque I've refactored the consumer side. Neil let me know what you think - it ended up fairly similar to your spike.

Here is the pact - https://gist.github.com/abhayachauhan/68e802898b3d566f8acb

I'm looking at the provider side - I'm starting to see a lot of areas which will need refactoring... especially getting matchers into comparers.

Its all a bit rough at the moment, and

[2015-05-21 11:28] abhayachauhan opened #40 "PACT working with tokens"
Haven't thought a lot about this yet - but has anyone got PACT working with access/identity tokens in headers?

Consumers will have tokens in the request headers, but ensuring they remain valid on the provider side in tests.

Is there anyway of replacing the token in the pact request on the provider side?

[2015-05-22 02:58] neilcampbell commented on #9
Awesome stuff, looking pretty good! I will take a closer look on the weekend at the branch in your fork.

@bethesque With regards to the spec part, should we be following https://gist.github.com/bethesque/5a35a3c1cb9fdab6dce7 or https://github.com/bethesque/pact-specification/blob/version-2/example.json (I just noticed this one)?

Yeah the provider side is likely where the bulk of the work is. The

[2015-05-22 03:02] neilcampbell commented on #40
I think some of the guys here are doing that, so I will follow up to see what they are doing.

However, if you can deterministically generate the tokens in the consumer, you should also be able to specify them as provider state ("Given" in the consumer dsl), from there the provider can implement the necessary overrides to ensure the token validates or doesn't (depending on your scenario).

[2015-05-22 05:49] abhayachauhan commented on #40
It would be great to find out how its working at other places.

Ideally we wouldn't want to use a token defined at the consumer, as it would require us to inject it into our middleware, and we're going down a path of having a different owin pipeline from production.

We can generate tokens on setup on the provider side, but I suspect the Provider add/override headers in the pact.

@bethesque Any t

[2015-05-24 12:51] abhayachauhan commented on #9
Finished the regex and type matching support end to end.
Working well I believe.

Just need to go through and refactor (mainly the provider side as discussed).

Here is an example of the pact:
https://gist.github.com/abhayachauhan/70c14395e9f1f8a6d819

Let me know what you think @bethesque @neilcampbell

I've made some assumptions on the type matching side of things. Strings/Ints/Booleans are all

[2015-05-24 22:47] bethesque commented on #9
@neilcampbell Neither example. Those were just pseudo code, thinking on a gist. You should be using the pact-specification version 2 tests https://github.com/bethesque/pact-specification/tree/version-2/testcases. For example, the ruby code has a dynamic test that loops through each test case an checks that it agrees with the 'match' element in the fixture. https://github.com/bethesque/pact-support

[2015-05-24 22:56] bethesque commented on #40
I suspect your solution will be different from the ones I've worked with in Ruby. The verification process in Ruby makes it very easy to mock/stub the authentication code to allow/deny when you want, as the test runs in the same process as the "server" (it's not actually running a server in a separate process, it's just a "request handler" that delegates to the application code).

@uglyog, how hav

[2015-05-24 22:57] bethesque commented on #40
We should write a wiki page on this.

[2015-05-25 10:01] abhayachauhan commented on #40
Initially I was thinking of some Provider side token/authorization overriide would be ideal - but reflecting on this, modifying the PACT is far from ideal.
In .NET, our authentication code runs in the same process, so we've done a quick spike and been able to mock our authentication code.

I'm not sure if it would be suitable for PACTNet, but we can open source our middleware, which basically dete

[2015-05-25 10:47] neilcampbell commented on #40
@bethesque @abhayachauhan The provider test runs in the same process as well in the Pact-Net, so you can do object level overrides fairly easily. We generally do this on the IoC container and it works pretty well.

[2015-05-25 10:49] neilcampbell commented on #40
@abhayachauhan Yeah probably doesn't belong in the Pact project as such, but why not spawn off a small project for the testing middleware.

[2015-05-25 12:58] abhayachauhan commented on #9
Sounds like I've been working off pseudo code :P Back to the drawing board!

@neilcampbell I'm assuming we don't have any data driven tests which run all these test cases seeing we're not v2 compliant. Do we have any data driven tests like these?

Looking through the tests, it seems to have a lot more functionality than I expected. Need to get my head around some of these...
1. Matching Rules for

[2015-05-25 13:18] neilcampbell commented on #9
@abhayachauhan Yep we have the specification data driven tests setup and ready to go. You will just need to update the Git submodule that references the spec repo to point to the version-2 branch on your fork/branch. See https://github.com/SEEK-Jobs/pact-net/tree/master/PactNet.Tests/IntegrationTests/Specification

[2015-05-25 13:22] neilcampbell commented on #9
@abhayachauhan And yep there is a fair number of rules to the matching. Took me a while to get it right :) The readme's on the specification repo are worth have a good read through.

[2015-05-25 13:25] neilcampbell commented on #9
@bethesque Yep we already have those tests setup. There is a git submodule linked into the pact-net repo.

[2015-05-25 22:45] bethesque commented on #9
@abhayachauhan

Flexible request matching is more useful when Pact is used for higher level tests (eg. driven from the UI). If the matching is exact, the tests are brittle, and the number of interactions you end up needing to verify explodes. Have a read of this:  https://github.com/realestate-com-au/pact/wiki/Best-practices#use-pact-for-isolated-unit-tests-think-carefully-about-how-you-use-it-for

[2015-05-25 22:46] bethesque commented on #9
Even the ruby version is not completely v2 compliant, but starting with the regular expressions and type based matching will get you a long way.

[2015-05-25 22:49] bethesque commented on #40
Sounds like a better solution than messing with getting the tokens "right" in the pact.

[2015-05-29 23:37] neilcampbell commented on #38
This functionality has been added in 6b07a7c581f17d9395db50e0bf09804cdfc27458, which will be available in the package 1.0.1

[2015-05-29 23:54] #38 closed

[2015-05-29 23:58] neilcampbell commented on #38
@screamish Heads up, this is done and will be in the next release.

var pactBuilder = new PactBuilder();
var mockProviderService = pactBuilder.MockService(1234, new JsonSerializerSettings());

[2015-05-30 01:00] #40 closed

[2015-05-30 01:04] neilcampbell commented on #39
Fixed in d4ec496c0ac5f7b1728f77b6a93f5c74c251a524. The verifier will now throw an ArgumentException when no interactions are yielded as a result of the filter being applied.

[2015-05-30 01:04] #39 closed

[2015-05-30 05:52] screamish commented on #38
:+1:

This will only control the way the body is serialised, yeah? Headers have a separate config?

[2015-05-30 07:54] davidduffett commented on #38
:+1: Legend

[2015-05-30 08:05] neilcampbell commented on #38
@screamish Headers don't need any serialisation options. They are just sent in the same way you specify them.

[2015-06-05 14:06] abhayachauhan commented on #9
@neilcampbell I've implemented regex/type matching for responses so far.
Doesn't handle wildcards yet, nor request matching.
Done some refactoring, probably needs another look once all the matching functionality is complete.
Could become a very large PR if I try to take the whole thing on.
Thoughts?

[2015-06-07 21:24] neilcampbell commented on #9
@abhayachauhan Awesome! Going to hopefully take a look at this today, and will get back to you.

[2015-06-09 12:38] neilcampbell commented on #9
@abhayachauhan I had a look tonight and it's starting to look pretty good. I think it's probably worth teeing up a skype chat/code review session/brainstorm some ideas. Thoughts?

[2015-06-09 13:03] abhayachauhan commented on #9
Yeah it is worth doing that - there are a lot of rough edges. It would be good to chat about it.

I've also started looking at the wildcard matching, I'm finding the JSONPath interpretation seems a little different - having to manipulate JSON paths which is not fun.

Once I check that in (next day or two), I'll drop you a line.

Min matching isn't too far off either.

[2015-06-09 13:35] neilcampbell commented on #9
@abhayachauhan Sounds good, looking forward to the chat.

[2015-06-10 23:22] abhayachauhan commented on #9
@neilcampbell Having some trouble coming up with a nice dsl for wildcards.
When are you free to chat? Prefer office hours or after?

[2015-06-11 07:30] neilcampbell commented on #9
@abhayachauhan Sorry we have a hackathon on today and tomorrow, so things are a bit crazy. Are you free on Sat for a chat?

[2015-06-12 03:25] abhayachauhan commented on #9
I'm usually free 8:30pm onwards - after the kids are asleep. Saturday should be fine.

[2015-06-13 01:37] neilcampbell commented on #9
@abhayachauhan Can't do tonight or Sunday night. Let's move this to twitter DMs.

[2015-06-13 02:06] abhayachauhan commented on #9
@neilcampbell Another interesting case that I've encountered with matching -

https://github.com/bethesque/pact-specification/blob/version-2/testcases/response/body/array%20at%20top%20level%20with%20matchers.json

dob field has a regex match - where JsonNet converts to datetime automatically - this will obviously fail. If we switch Datetime parsing off, we lose the ability to do type matching for

[2015-06-13 04:04] neilcampbell commented on #9
@abhayachauhan Yeah I think it should just be treated as a string.

[2015-06-17 21:51] bgoerdt opened #41 "Is RestSharp supported?"
I noticed that you're using System.Net.Http.HttpClient in your examples. Is RestSharp supported as an alternative client library?

[2015-06-17 22:45] neilcampbell commented on #41
Hey @bgoerdt. Yes RestSharp is supported. Pact works on a http level, so you can actually use any http client library in your code.

[2015-06-21 23:00] #41 closed

[2015-06-21 23:03] neilcampbell commented on #9
Hey @abhayachauhan.
I did a big refactoring of the comparers over the weekend and extracted out the concept of matchers.
So far it is looking pretty good.

I also started working on parsing the interaction body to resolve the matchers, then cleansing the body of the matchers (including nested matcher functions). So far so good and will hopefully complete that tonight or tomorrow.

From there we ca

[2015-06-21 23:38] bethesque commented on #9
Hey guys, don't know if it's just the terms you're using, but you'll find life a whole lot easier down the track if you're working on the concept of a "differ", not a "matcher". The algorithm should take two structures, and return the difference, rather than returning a boolean. This is so that you can then display the differences in a meaningful way to the user. A massive proportion of the usabil

[2015-06-21 23:50] neilcampbell commented on #9
@bethesque Yep it's the terminology we are using. We are actually returning a list of all paths checked in the object graph and if each check was a pass or fail (which will include the diff). That way we can actually override a pass/fail result from a composed matcher if another result is more specific/has a higher weight. Hopefully that makes sense?

[2015-06-22 01:36] bethesque commented on #9
Nope, not sure what that means at all! How would a match have a different weight?

[2015-06-22 02:07] neilcampbell commented on #9
Maybe I am thinking up things that don't exist :) Take the below example, where we have a type matcher and a regex matcher nested inside the type matcher. This is a pretty bad example, but hopefully I highlights what I am getting at.

[code]

The body returned from the mock provider
[code]

If both those matchers are testing something about the $.test.temp path (one via a wildcard on the type matc

[2015-06-22 03:34] bethesque commented on #9
In that case, the type match is not performed, only the regexp match is performed.

[2015-06-22 03:38] bethesque commented on #9
I'd expect a structure like this to be returned:
[code]

[2015-06-22 12:27] neilcampbell commented on #9
I think this one is easier to talk through, however I think we are both on the same page.

[2015-06-22 21:51] abhayachauhan commented on #9
@neilcampbell excellent work dude - lets tee up a chat when your done

[2015-06-24 00:28] neilcampbell commented on #9
@abhayachauhan I pushed the changes I have been working on to the version-2 branch https://github.com/SEEK-Jobs/pact-net/tree/version-2. It's still a WIP (so there are some obvious things to cleanup), however would love some feedback with regards to the approach and how it fits with the stuff you are working on.

[2015-06-24 08:10] abhayachauhan commented on #9
@neilcampbell awesome..  Shall check it out in in the next day.

[2015-06-25 12:22] abhayachauhan commented on #9
@neilcampbell looking really good! :+1:

Noticed some things -
ProviderServiceResponseComparer should use expected.MatchingRules rather than actual?
TypeMatcher.Type points to Regex Type

Let me know when you'd like help.

[2015-06-25 13:08] neilcampbell commented on #9
@abhayachauhan Yep good finds!
You can start patching the matching rules you are working on in and wiring the rest of the bits up. I would start with 1 matching rule and get that working all the way, then add the next etc. Happy to help with any of this stuff. May even be worth another chat.

[2015-06-25 14:31] kmh0237 opened #42 "How to configure Pact File generation folder"
Hello, I am working on generating a pact file at the moment, which works fine when I run my tests in my project from Visual Studio.  However, when I run those same tests from the command line as an administrator, no pact file is generated.  I was hoping this could work from the command line (currently using MsTest.exe) so the build process could generate a pact.  As a side note, the pact file woul

[2015-06-25 15:08] kmh0237 commented on #42
Okay, after some more testing I found out that MsTest will generate a folder called TestResults in the folder you are running the command from (in my case above, VisualStudio\Common7\IDE\).  In this folder structure, it generates two subfolders and copies the dlls into them.  The pact files appear two directories back (..\..\) from where the dlls are.  I observed this behavior with VsTest as well,

[2015-06-25 22:32] neilcampbell commented on #42
Hey @kmh0237. At this stage there is no way to configure this, however it is an idea I have been planning on adding, so will get that sorted for you.

[2015-06-25 23:33] abhayachauhan commented on #42
+1

We have a similiar issue at the moment - I have spent a little time looking at pushing our generated pact files from our FAKE build process - and I'm finding the "pacts" directory is created by the files themselves are missing... Haven't investigated what is going on but something is disconnected...

I can assist with this if required. This should be a small change...

[2015-06-26 07:49] neilcampbell commented on #42
@abhayachauhan I think that may be a separate thing, I have never seen that one happen. It's probably worth deleting the pacts dir and trying again, just to make sure its in a clean state. Definitely something strange, we create the dir (where required) immediately before creating the file, so its very odd if the dir can be created but the file cant and there are no exceptions. Out of interest wha

[2015-06-27 06:40] neilcampbell commented on #42
Hi @kmh0237
I have added support now for supplying a pact dir and will build a new version of the nuget package tomorrow.

Specifying a pact dir or log dir can be done using the following:

[code]

[2015-06-27 07:12] neilcampbell commented on #42
New nuget package has now been published changes are included in 1.0.5

[2015-06-27 07:13] neilcampbell commented on #42
@abhayachauhan Can you please create a new issue for the issue you are seeing?

[2015-06-29 10:53] #42 closed

[2015-07-09 05:06] bethesque opened #44 "Prevent use of a regular expression where the example does not match the regular expression"
Not sure if the .net implementation covers this, so raising an issue to ensure it gets addressed if it hasn't already.

For example, it should not be possible to specify that a phone number must match /^\d+$/, but give an example of "foo".

[2015-07-09 05:27] neilcampbell commented on #44
Good point! We still have not finished v2/regex matching, so will add a test for that scenario.

[2015-07-09 05:39] bethesque commented on #44
:+1:

[2015-07-10 01:09] neilcampbell opened #45 "Thread safety issue on the logger"
There is currently a thread safety issue in the consumer debug logging when a test suite contains multiple mock providers and the tests are run in parallel.

To work around this temporarily, disable parallel test execution. However a fix will be released very soon.

[2015-07-10 03:23] neilcampbell opened #46 "No console output with xUnit 2"
xUnit 2 redirects the console and therefore there will be no console output when using it.

http://xunit.github.io/docs/capturing-output.html

[2015-07-10 05:59] neilcampbell commented on #45
Fixed in 859b8a99d93d636f81d50e3a126904caef188b07 and released in Nuget packge version 1.0.6

[2015-07-10 05:59] #45 closed

[2015-07-16 07:45] neilcampbell commented on #46
Fixed in 1240d7b9fbefa7164a5eae2b973136b2d55de30c and released in 1.0.7

[2015-07-16 07:45] #46 closed

[2015-09-02 03:52] xelibrion opened #47 "Interaction matching - body is ignored in certain cases"
Hey @neilcampbell, question - would it make sense to run a match on request body even if request body for registered interaction is not specified?

Currently library will consider two requests matching even when body of the actual request is completely different (i.e. `not null`) from request body for registered interaction (that is `null`).

[2015-09-02 10:38] neilcampbell commented on #47
@xelibrion Yeah it's a good question and I remember having a conversation about this at some point with someone else, but cant remember the exact outcome. Based on the pact specification for v2 (which we are currently not checking on just yet) the current behaviour is correct. https://github.com/bethesque/pact-specification/blob/version-2/testcases/request/body/no%20body.json. @bethesque Can you c

[2015-09-02 21:35] bethesque commented on #47
I think you're right @neilcampbell, @uglyog, this doesn't seem right https://github.com/bethesque/pact-specification/blob/version-2/testcases/request/body/no%20body.json

[2015-09-03 06:54] davidmcgregor opened #48 "Can PactConfig.LoggerName be made public?"
When using MockProviderNancyBootstrapper it needs the PactConfig.LoggerName to be set and it can't be set when creating PactConfig in an external assembly because it's currently set to be internal.

[2015-09-03 10:03] neilcampbell commented on #48
Thanks @davidmcgregor, nice find! I will get that one sorted.

[2015-09-03 10:25] neilcampbell commented on #48
The LoggerName on PactConfig is intentionally internal. Is the log file name something you guys actually want to control or is it ok to keep it internal and just set a sensible default. Something like "logs"?

[2015-09-03 10:38] davidmcgregor commented on #48
I'm okay with a sensible default - I can't think of any reason at the moment why we'd want to change it. Thanks!

[2015-09-03 10:47] neilcampbell commented on #48
Actually I looked a little deeper and no logs will be generated when you use the MockProviderNancyBootstrapper directly if we set just a default value.

[2015-09-03 12:42] neilcampbell commented on #48
Fixed in 2ca38aa75d1f4a3fb503dd74e0170e8a3ffd975c and released in 1.0.9. Can I please get you to do an update and check that you no longer see the issue?

[2015-09-03 23:53] davidmcgregor commented on #48
That's done the trick. It's all fixed up now. Thanks!

[2015-09-04 04:24] davidmcgregor commented on #48
One more issue now - when running in parallel I'm getting errors of logs being used by other processes:

Result Message:	System.IO.IOException : The process cannot access the file '...\logs\api.2_verifier.log' because it is being used by another process.

Result StackTrace:
at System.IO.__Error.WinIOError(Int32 errorCode, String maybeFullPath)
   at System.IO.FileStream.Init(String path, FileMode

[2015-09-04 09:04] uglyog commented on #47
When there is no expectation on the body (as opposed to expecting an empty
body), then surely it must match regardless if you receive a body or not?

On 3 September 2015 at 07:35, Beth Skurrie <notifications@github.com> wrote:

[2015-09-04 09:26] xelibrion commented on #47
@neilcampbell @bethesque @uglyog I think there actually might be two parts to this question. First one is matching registered interaction with actual request on consumer side, and the second on is matching consumer expectation and provider response.

As for the latter one, it is perfectly fine to have extra fields or entire body in the response in my opinion, but I don't think that exactly the sam

[2015-09-04 09:36] uglyog commented on #47
For reference to this https://github.com/DiUS/pact-jvm/issues/85

[2015-09-05 05:40] neilcampbell commented on #48
This looks like a different issue to the one originally raised.

It looks like you are using the Verify("description", "provider state") method, which was added to help filter scenarios whilst debugging failures and not as a way to isolate individual interaction verifications (for running in parallel). As such provider verifications should never run in parallel.

The reason I mention this is that

[2015-09-06 23:37] davidmcgregor commented on #48
Understood! Thanks for looking into it,

[2015-09-06 23:37] #48 closed

[2015-09-07 22:42] neilcampbell commented on #47
@xelibrion I had a bit of a think through what we discussed on the weekend in relation to matching the correct request with response for the mock. We could definitely do what we talked about, however it would deviate from the what the specification outlines (which I don't want to do). See item 2 in Handling Requests https://github.com/bethesque/pact-specification/tree/master/implementation-guideli

[2015-09-07 22:49] bethesque commented on #47
There's a difference between an expectation of a null body, and no expectation for the body. I think (correct me if I'm wrong Ron), if you expect a null request body, then you should get a null request body. If you make no expectation on the request body, then I think we're not checking it at all. When the request is replayed though, it's going to have a null body, rather than whatever the actual

[2015-09-07 23:22] uglyog commented on #47
@bethesque That's correct. If the body field is missing from the pact file, it can be anything because we are not checking it. It does not have to be null.

[2015-09-08 00:08] xelibrion commented on #47
@neilcampbell Fair enough. To solve the problem that I had (spending two hours debugging PactNet because I've forgotten to specify body for a POST request in expectation) is not necessary to change expectation matching rules - would be enough to display a warning/suggestion in test output that body was empty in expectation, but it was present in actual request. Would make dev onboarding slightly e

[2015-09-08 06:26] bethesque commented on #47
Sounds like a good idea.

[2015-09-08 20:11] StephenErstad opened #49 "Schema instead of Hard Coded Values"
Is there a way to test against a particular expected schema instead of hard coded values for the service results in say a Json Schema way?  e.g. This array will exist and not be empty, this string will be n characters long, this property will be null, etc.

[2015-09-08 20:44] StephenErstad commented on #49
After looking more closely at the spec, it seems like this is what spec 2-3 are getting closer to this.  The goal is for pact-net to keep up with the spec once out of WIP?

[2015-09-08 21:12] neilcampbell commented on #49
Hi @StephenErstad
Thanks for reaching out!

Yes you are correct, that is the goal of the v2 spec which we are working towards slowly. You can track the conversation at https://github.com/SEEK-Jobs/pact-net/issues/9. We are planning to support these specs, it's just a matter of finding the time to do the work.

[2015-09-08 21:14] StephenErstad commented on #49
I think I see how I will make it work given the current implementation.

I see huge value in this and will try to get up to speed so I can contribute.

Thanks for the quick response, @neilcampbell.

[2015-09-08 21:14] #49 closed

[2015-09-08 21:20] neilcampbell commented on #49
You can do a lot with the current functionality and the use of provider state, so hopefully that should help. However I definitely agree that having more flexibility is going to make things a lot easier!

[2015-09-16 02:09] sushant2517 opened #50 "Unable to use Verify with Basic auth credentials"
I am trying to point my PactVerifier to a Pact-broker endpoint protected by basic auth. I am able to access the endpoint using any rest client (postman) by passing the credentials in the URL.
http://user:pass@pact-broker/---

But when I use the same URL in the PactUri method and then call Verify, it gives me a 401.

Looks like the HttpClient that is newed up in the PactVerifier doesn't like the cr

[2015-09-16 10:39] neilcampbell commented on #50
Thanks for raising this one @sushant2517.
To be honest I have not needed to use the broker with any auth yet, so it's not something explicitly catered for. As you mention it doesn't look like the .NET HttpClient supports user info in the Uri by default, however that is something that can be added fairly easily.

@bethesque How does the Ruby implementation deal with Basic Auth when retrieving a Pac

[2015-09-16 11:00] sushant2517 commented on #50
@neilcampbell Thanks for your reply.
I agree we can add it fairly easily, few approaches I can think of:

1) Overload PactUri method (or optional param) to take in these details via a Request header object
2) Allow a constructor overload to inject a httpclient to be used. That way the consumer code can add the relevant auth-details in the client object and send it over.

I prefer the (2) approach

[2015-09-16 11:22] neilcampbell commented on #50
@sushant2517 I would like to get Beth's input first, as we are trying to keep the different Pact implementations reasonably consistent.

The other option is to add support in the Uri as you previously mentioned. I have a feeling that is how the Ruby implementation does it.

In regards to option 2, being able to inject a HttpClient wouldn't actually help. You would need to control the HttpRequestMe

[2015-09-16 23:35] bethesque commented on #50
Yup, we have basic auth supported for publishing and verifying.

Verifying: https://github.com/realestate-com-au/pact/wiki/Verifying-pacts#with-basic-auth
Publishing: https://github.com/bethesque/pact_broker-client#consumer

[2015-09-16 23:50] bethesque commented on #50
Not sure if seeing the Ruby impl will help or not, but yes, we have a PactURI class that holds the URL and the options: https://github.com/realestate-com-au/pact/blob/110b7e25c00a6a8ac5bdf6876ffab2eaf84158b2/lib/pact/provider/pact_uri.rb

[2015-09-16 23:54] sushant2517 commented on #50
@bethesque thanks Beth for confirming.
@neilcampbell - I was more referring to remove the creation of the request message object in the Verify method altogether. So basically, we will get an already configured httpclient object from the constructor and we will just make sure that it has the "accept" application/json added to it in the verify method and directly use the Uri configured using the Pac

[2015-09-17 03:09] neilcampbell commented on #50
Thanks @bethesque. That is perfect!

@sushant2517 So we should probably do something similar to the Ruby impl and take an optional options param to the PactUri method.

So instead of ```IPactVerifier PactUri(string uri)``` it should be something like ```IPactVerifier PactUri(string uri, PactUriOptions options = null)```.

Did you want to take a crack at implementing this?

[2015-09-17 03:18] sushant2517 commented on #50
Thanks @neilcampbell and @bethesque.
I will give it a shot sometime today. Thanks guys!

[2015-09-21 08:37] neilcampbell commented on #50
@sushant2517 Version 1.0.10 in the Nuget feed includes basic auth. Thanks for the PR.

[2015-09-21 08:37] #50 closed

[2015-09-28 13:30] neilcampbell commented on #47
@bethesque @uglyog Was just looking at closing this issue and implementing a fix for some of the stuff discussed and wanted to confirm a couple of behaviours.

I can see that when no body has been specified we don't go any further with regards to checking the body (https://github.com/bethesque/pact-specification/blob/version-2/testcases/request/body/no%20body.json), which is the current behaviour

[2015-09-28 22:33] bethesque commented on #47
I'm not sure if there's a specification, but the behaviour you described in the last paragraph is the behaviour of the Ruby impl.

[2015-09-29 05:49] neilcampbell commented on #47
@bethesque Ok cool. I will create specification test and PR for it, that way it is explicit.

[2015-09-29 17:59] jtsoftwaredevelopment opened #52 "Generated ID as part of the path"
Hi,

I'm trying to build pacts that have randomly generated unique IDs in the path.  Example:

      "request": {
        "method": "get",
        "path": "/groups/d6a61741-203a-4b8a-aec1-c9db15cff87b/messages/8a975ddf-1786-48a8-b835-8f7f578afbf1/locations",
        "headers": {
          "Accept": "application/json"
        }
      },

Is this possible to do this using PactNet?  Does it matter th

[2015-09-29 23:14] neilcampbell commented on #52
Hi @jtsoftwaredevelopment
Thanks for getting in touch.

This is supported and we have an example of this in the sample project (see https://github.com/SEEK-Jobs/pact-net/blob/master/Samples/EventApi/Consumer.Tests/EventsApiConsumerTests.cs#L218). This can be a little tricky however as your http client will need to support generating the deterministic random id's in your test case (if they aren't p

[2015-10-02 04:35] jtsoftwaredevelopment commented on #52
Thanks for the quick response.

The issue is that I cannot hard-code my GUID values into the pact, as in that example, because my provider does not allow me to create resources of a particular GUID.  That's what I meant by the word 'random'.  Sorry for any confusion.

As I understand it, for my *response body* to include (variable) DateTime and GUID types of data, because cannot be deterministic v

[2015-10-05 01:30] neilcampbell commented on #52
Version 2 of the spec will have flexible matching on the request/response body, however not in the path.

Is the provider something that you do not control? If not, it is going to be very hard to get the provider into a predictable state. If you do, you should be able to inject mocks/stubs/fakes or use middleware in the correct place, such that you can generate a predictable state.

To answer your

[2015-10-05 11:16] #47 closed

[2015-10-05 23:03] jtsoftwaredevelopment commented on #52
Hi Neil,

Thanks for your help on this.  I was able to re-write the Pact on the provider side with the non-deterministic, provider-generated GUIDs appended to the path and provider state using string placeholders and JSON.NET.  I'm only doing this because it doesn't seem like any of the Pact specifications take into account non-deterministic IDs in the path.

However, I'm looking forward to the V2

[2015-10-05 23:03] #52 closed

[2015-10-05 23:53] neilcampbell commented on #52
Yeah, V2 of the spec is going to make the tool a lot more flexible. I can't really give any timeframes unfortunately, however you can keep track of the conversation here https://github.com/SEEK-Jobs/pact-net/issues/9

[2015-10-27 20:59] finnnewick-justgiving commented on #9
Hi there - great work on the .net version of pact!

I'm looking at using pact in some projects but lack of regex or type support will make things tricky. How close are things to working? I'm happy to pick some stuff up if that'd help move things closer to the v2 spec.

[2015-10-30 06:53] neilcampbell commented on #9
@finnnewick-justgiving Sorry I have taken a little while to respond.
To be honest, I can't see myself getting any free time soon to get this implemented. So yeah it could be a little while off, as I have quite a few other things that need my attention at the moment.

Happy for you to take a look and see what you think? It's definitely something that you could work on, even if it's just the regex p

[2015-10-30 11:15] finnnewick-justgiving commented on #9
OK, cool. I can't commit to anything yet but I'll start talking about it with my team and see if we can get something working.

[2015-10-30 23:35] neilcampbell commented on #9
Awesome, sounds great! The version-2 branch of the specification project is worth look at to help give you some context about the change. https://github.com/pact-foundation/pact-specification/tree/version-2

[2015-12-06 14:18] wxtsxt opened #56 "Using service references"
100% if my .net c# integration is done through 'service references' and SOAP messages.
I tried to use pact-net with no success. Is it supported? Will it be? What has to be done? Nothing in readme...

[2015-12-07 00:05] neilcampbell commented on #56
Hi @wxtsxt
Unfortunately Pact does not support xml or SOAP, just JSON HTTP API's.
We are not planning on adding support for this, as we don't have the need.

[2015-12-09 05:21] #56 closed

[2016-02-09 10:31] robertfall commented on #44
Just wanted to find out if work on v2 and matchers is still happening or whether it's stalled as there have been no commits on the branches for some time.

Our team would like to use the matchers functionality as other language platforms support it. Is this work ongoing and is the work that was done still relevant? If we were to look at implementing the matcher functionality should we branch from

[2016-02-09 11:24] neilcampbell commented on #44
Hi @robertfall
Thanks for getting in touch!

AFAIK there is no one currently doing any work to get v2 matching working. Issue https://github.com/SEEK-Jobs/pact-net/issues/9 contains a whole bunch of info about what is required to get it working, so have a read of that one. If you a interested in having a crack at implementing, create a fork (and use the version-2 branch) and go from there. Yep the

[2016-02-09 16:08] robertfall commented on #44
Thanks @neilcampbell.

I'll have a look at the other language APIs and see what I can do. :smile:

[2016-02-14 12:16] robertfall commented on #9
Hi Neil,

Sorry it's taken so long to get back to this. We've had to prioritize sprint work over this. We've also found that hard value dependencies in our Provider tests haven't been such a big problem.

Ideally we would like to see type based pacts in our system. Our Scala consumers currently use a DSL to build up type based pacts. Our .NET code currently uses the automatic object serialization

[2016-02-15 01:54] neilcampbell commented on #9
@robertfall Sorry I am not 100% sure what you mean? When you mention not a fan of describing the pacts using a DSL, are you talking about using a dynamic object to express the Request/Response body?

`We've seen with the DSL's in Scala that it's too easy to add a field to your response object, and thus a dependency on the server, without updating the pact with the DSL.`

In response to the above,

[2016-02-16 18:54] robertfall commented on #9
@neilcampbell that would indeed by great but it means the developer has to remember to update the consumer test every time they add use a new field on the response.

We've seen the following happen in our codebase:

The consumer code deserializes JSON into the response class:
[code]

The consumer test body DSL looks as follows:

[code]

The developer then added a new field to the API `isArchived`.

[2016-02-22 11:48] neilcampbell commented on #9
@robertfall Thanks heaps for the additional detail!

Ok, so my personal opinion is that we should all get into the mindset of changing the test first, then updating the consumer to match. I can however understand your point of view.

In the .NET version you can change the JSON serializer settings when calling `PactBuilder.MockService()`. So you should be able to force the default values to be seri

[2016-03-24 14:27] VanessaDa opened #57 "Partial matching, pact .net"
Hi Guys,

I have a JSON pact file with href links that is part of the response body from the consumer. Which looks something like this:

"links": [
              {
                "rel": [
                  "self",
                  "paymentDetail"
                ],
               "href": "/api/uk/account/12345/payment-detail"**
              }
            ]
          },

However the provider  re

[2016-03-24 14:29] VanessaDa commented on #9
Hi Guys,

I have a JSON pact file with href links that is part of the response body from the consumer. Which looks something like this:

"links": [
              {
                "rel": [
                  "self",
                  "paymentDetail"
                ],
               "href": "/api/uk/account/12345/payment-detail"**
              }
            ]
          },

However the provider  re

[2016-03-29 05:23] neilcampbell commented on #57
Hi @VanessaDa
This is a tricky situation that I have ran into before, especially if you are testing the traversal of the hypermedia link.

What we ended up doing was standardising on relative uri's for all hypermedia links, so it meant the provider would also return `/api/uk/account/12345/payment-detail` in this case. The host address is then configured as part of creating the http client / consum

[2016-03-30 05:36] #57 closed

[2016-04-05 00:13] ChuanChuanLaw commented on #44
Hi,

I am new to Pact Net and is currently trying to create a spike project with flexible matching features. According to the forum thread, seems like flexible matching has not being implemented like the Ruby and JVM features.

Therefore, we checked out Abhaya's branch. However, flexible matching does not seem to be working too. Although JSON file like below is being generated:

 "response": {

[2016-04-05 00:18] neilcampbell commented on #44
Hi @ChuanChuanLaw.
No flexible matching is not yet implemented in .NET. The version-2 branch is a work in progress branch to begin implementing it. When it becomes available and ready to use, it will be in master.

[2016-04-14 03:27] Eric4Zhang opened #58 "Asynchronous test method is not supported ???"
Remove it ...

[2016-04-15 02:05] neilcampbell commented on #58
@Eric4Zhang Assuming you got this all sorted? But yeah answer the question async test methods should be fine.

[2016-04-16 11:33] #58 closed

[2016-04-19 11:57] ceddlyburge opened #59 "Indirect dependency error message"
HI there
I've recently spent some time grappling with mysterious error messages and persuading a solution to build. I didn't find anything on the internet about it, so I thought I would report it here.
When I first added Pact.Net to my solution everything went very smoothly. I then came back to it a few weeks later, I think having changed absolutely nothing and it wouldn't build. The error message

[2016-04-19 23:18] neilcampbell commented on #59
Hmm that is an interesting one. What version of the .NET framework is your project targeting? If it's 4.0 then it requires that additional nuget package (for the HttpClient stuff), however if you are targeting 4.5 or greater you should not need it and can just add a framework reference to System.Net.Http (although that should be added automatically as well when installing PactNet).

[2016-04-20 08:03] ceddlyburge commented on #59
HI Neil, just fyi I don't think this is a problem with PactNet, but it might be good to have the solution searchable.

I am targeting .net 4, so it makes sense that I need to add the reference, but having to use that specific version is strange, and having to add the reference to projects that reference a project that references pactnet is also strange.

I think Microsoft.bcl.build tries to do som

[2016-04-20 22:13] neilcampbell commented on #59
@ceddlyburge thanks for the reply. Yeah without seeing the full project it's going to be a tricky one to diagnose properly. But yeah .NET 4 isn't out primary use case, so as long as it works and there is a solution searchable, we are all good!

[2016-04-20 22:13] #59 closed

[2016-04-28 02:11] maxxxxxxxim commented on #40
This is awesome! Helped me straight away... :+1:

[2016-04-28 06:57] neilcampbell commented on #40
Awesome stuff @maxxxxxxxim. Glad it helped!

[2016-05-09 19:18] karlgjertsen opened #64 "Working with types or regex"
Hi Guys,

Where can I find samples of how to create the pact file with types instead of fixed values?

I wan tot use this in a project, but I won't be able to unless I can find a way to work with types instead of fixed data.

Thanks,

Karl

[2016-05-09 21:11] neilcampbell commented on #64
Hi @karlgjertsen
Is this the kind of the thing you are after https://github.com/SEEK-Jobs/pact-net/blob/master/Samples/EventApi/Consumer.Tests/EventsApiConsumerTests.cs ?

Also wanted to mention that we do not support partial or regex matching at this time. See https://github.com/SEEK-Jobs/pact-net/issues/9

[2016-05-10 08:44] karlgjertsen commented on #64
I am trying to add the PACT tests to my API Provider, but I'm finding the tests are too brittle. For example, I might return an integer value, which may change. I only want to test it for an integer and not an actual value.

I'm using the GitHub API as my test service. I have written the consumer tests, which work ok. In the provider tests, I am calling the live API, but what if a value changes, e

[2016-05-13 03:32] neilcampbell commented on #64
Yep, I completely understand.
v1 of Pact is all about testing providers where you can control the state and put the system in a deterministic state.
v2 is aiming to work with the scenarios you mention.

At this time PactNet does not support v2 of the Pact specification.

As a side note your contract should only specify the values that your consumer actually requires, so if you don't use `public_re

[2016-05-13 07:24] karlgjertsen commented on #64
Thank you for the answer Neil

I will try to schedule some time and then see what I can help with.

[2016-05-15 22:57] #64 closed

[2016-07-11 13:45] etiago opened #67 "[Idea] Automatic record/replay mocks"
We recently started using pact-net at work and I'm slightly bothered by how much manual work is involved in creating the mocks and handling the resulting files.

I was thinking whether it would be a good idea (and whether someone thought about it) to create some sort of proxy generic mock which could be started in "record mode" and to which we would then direct our services. This proxy mock would

[2016-07-12 13:07] neilcampbell commented on #67
Hey @etiago
Thanks for getting in touch, and I can appreciate there is a bit of work to get Pact up and running.

It is actually something we have chatted about and there are actually already tools which can do this should it fit your use case better (see https://github.com/vcr/vcr and https://github.com/matthew-cochran/Betamax.Net). Pact kind of takes the reverse philosophy (see https://github.co

[2016-07-12 13:20] etiago commented on #67
@neilcampbell it makes sense, thanks for the pointers! Such a pity that Betamax.Net seems to be abandoned but I can understand that Pact-Net takes a different spin on it. :+1:

[2016-07-12 13:20] #67 closed

[2016-07-12 13:48] neilcampbell commented on #67
@etiago I have a feeling other VCR ports for .NET exist, otherwise fork it and it's all yours :)

[2016-07-13 23:19] tkring opened #68 "I'm confused about how to generate the json pact file. I have created a pact consumer test project that contains a Pact class, which implements IDisposable(), which calls PactBuilder.Build(), but I can't figure out where the file is being written to. The documentation doesn't describe this anywhere, and when I look at the source code I can't find the code that writes the file. I'm running on Windows 10. Can you point me to where the file is/should-be written to? Or, do I have to create the file manually?"

[2016-07-14 00:06] neilcampbell commented on #68
Hi @tkring,
Calling `pactBuilder.Build()` will flush the pact file to disc. The default directory is `..\..\pacts`, which is in the docs. You can also specify your own directory if you like by providing a `PactConfig` object when creating the `PactBuilder` instance. The section in the docs your are after is step 2 under Service Consumer.

[2016-07-18 00:31] #68 closed

[2016-10-26 13:53] scottcowan commented on #9
How's it going with this? I'm new to Pact and it seems like this is needed to test services where you can't define the provider state. I'm willing to help

[2016-10-27 12:14] neilcampbell commented on #9
Hi @scottcowan!
Thanks for getting in touch. At the moment there is still nothing happening on v2/3 flexible matching.

I'm interested in hearing more about your specific use case and why provider states cannot be defined?

[2016-10-27 12:39] scottcowan commented on #9
Hi Neil,

I've used pact net with the pact broker so
- on build the pact is published
- on deploy of a consumer the pact is tagged per environment
- on deploy of the provider the pacts a gathered from the broker by the tag
- pact-provider-verifier runs each

- I did skip over provider states as we're using this throughout our environments
- I was looking at type matching or regex to identify which

[2016-10-27 12:52] neilcampbell commented on #9
Usually Pact verification is done before deployment as it let's you know if the consumer/provider pair are compatible and therefore prevents you from deploying an incompatible configuration. The trick to successful provider verification is being able to control the application state (especially with v1 of Pact).

With the request id example you mention, is that an important piece of the contract f

[2016-10-27 15:44] baguaJerry commented on #9
Scott,
Since we currently are using pact for messaging and not http calls we are looking into just implementing that support right now.

Jerry

Sent from my iPhone

[2016-10-28 00:18] neilcampbell commented on #9
@baguaJerry Cool, i'm interested in hearing more.

[2016-11-22 17:32] xlegalles opened #72 "Does not work with Nancy 1.4.3"
Hi,
I had the last Nancy 1.4.3 and the consumer test was raising an exception (timeout on the ClearInteractions). I have checked all other dependencies but it fails because of Nancy: it works with the 0.23.1. I did not check with other versions. At least you should update the documentation.

Btw, thank you for this very nice library.
Xavier

[2016-11-23 00:26] neilcampbell commented on #72
@xlegalles Thanks for reporting the issue. I will take a look to see how it can be fixed.

[2016-11-23 08:44] MarkDaviesEsendex opened #73 "Upgrading dependencies seems to cause issues"
Going back to pull-request #71 I have managed to recreate a similar issue, I have created a repository [here](https://github.com/MarkDaviesEsendex/PactNetDependancyIssue)

When running the test I get the error message:

   at PactNet.Infrastructure.Logging.LocalRollingLogFileMessageHandler..ctor(String logFilePath)
   at PactNet.Infrastructure.Logging.LocalLogProvider.AddLogger(String logDir, Stri

[2016-11-23 12:12] neilcampbell commented on #72
So I just extracted the sample inside the Pact solution and installed Nancy 1.4.3 with Nancy.Hosting.Self 1.4.1 and everything worked fine.

I then tried just updating Nancy to 1.4.1 and leaving Nancy.Hosting.Self 0.23.1 and that failed the test. I believe this issue is related to not having updated Nancy.Hosting.Self alongside Nancy. The direct dependency Pact has is with Nancy.Hosting.Self and n

[2016-11-23 22:14] neilcampbell commented on #72
No problems at all!

[2016-11-23 22:14] #72 closed

[2016-11-25 05:22] neilcampbell commented on #73
OK, so I have worked out why this is happening for System.IO.Abstractions.
Basically it is because the assembly binding redirect is not being added to the app.config when installing the latest package.

This should happen automatically however it is not, because from version 2.0.0.124 (of System.IO.Abstractions see https://github.com/tathamoddie/System.IO.Abstractions/issues/178) the assembly has

[2016-11-28 03:41] #73 closed

[2016-12-15 11:59] AdamDratwa opened #75 "Pacts are not being created"
Hi. I'm struggling with generating pact file. Either I set PactDir path manually or leave it as default, .json file is not being created. However log file is generated successfully every time. I run test within Resharper and it passes. Any idea what might be wrong?
`PactBuilder = new PactBuilder(new PactConfig {
                PactDir = @"..\..\pacts",
                LogDir = @"..\..\logs"

[2016-12-15 21:43] neilcampbell commented on #75
Hi @AdamDratwa,
Thanks for getting in touch!

The method that actually saves the Pact file is the `Build` method on the `PactBuilder` object.
Just wanted to confirm you are calling it? See https://github.com/SEEK-Jobs/pact-net#2-describe-and-configure-the-pact-as-a-service-consumer-with-a-mock-service

[2016-12-16 11:38] AdamDratwa commented on #75
Hi @neilcampbell  Thank you for your response. The issue was caused by not calling Dispose() method after all tests. It's automatically called in your examples which uses xUnit framework, however if you use NUnit you have to invoke it manually like below: ` [OneTimeTearDown]
        public void AfterAll()
        {
            _pact.Dispose();
        }`
Thanks

[2016-12-18 23:07] #75 closed

[2017-01-10 07:56] atpyk opened #76 "Do you guys plan to support .Net Core?"

[2017-01-10 09:20] neilcampbell commented on #76
Hi @atpyk
It would be awesome to have .NET Core support, however no one is working on this at the moment.
Are you interested in giving it a go?

[2017-01-15 22:48] #76 closed

[2017-01-19 17:07] zezelazo commented on #17
I can help please let me know what are the plans or spec for this, we have our own version of pact-net and we added  some features we can discuss if are aligned to the spec

[2017-01-20 05:24] neilcampbell commented on #17
Hi @zezelazo
Currently we don't really have any plans or spec for supporting XML.
@mefellows @uglyog What are your thoughts on this?

[2017-01-20 10:29] uglyog commented on #17
Both the JVM and Rust implementations support XML, so it would be good for the .NET one to support it too.

[2017-01-21 06:25] neilcampbell commented on #17
@uglyog Does that include support for v2/3 with matching rules? If so, I'm assuming that is xpath based?

[2017-01-22 21:47] garora opened #78 "Is there pact version of .net core?"
I am digging to achieve something similar and looking if there is any .net core version of pact?

[2017-01-22 23:34] neilcampbell commented on #78
Hi @garora
Unfortunately not at the moment, however that is something that would be awesome to have.
Are you interested in implementing this?

[2017-01-22 23:56] garora commented on #78
@neilcampbell - nice to see you prompt reply. Yes, I am interested. I would be happy to be a party of this.

[2017-01-23 01:53] neilcampbell commented on #78
@garora Great, go for it.

[2017-01-23 02:59] garora commented on #78
Do you want me to start a new project or a PR here?

On 23/01/2017 7:23 AM, "Neil Campbell" <notifications@github.com> wrote:

[2017-01-23 03:37] neilcampbell commented on #78
A PR for sure.

[2017-01-23 07:21] garora commented on #78
@neilcampbell - this PR will be huge as lot of things need to achieve for .net core. Could you please create a separate branch for me , so, I can add entirely new core stuffs there?

[2017-01-23 10:54] neilcampbell commented on #78
@garora You can create your own fork and create a branch within that if you want.

[2017-01-23 10:58] garora commented on #78
Yes, I know that and already forked.
I will check it in coming weekend. Also looking to be added as a
collaborater to this repo.

On 23/01/2017 9:07 AM, "Neil Campbell" <notifications@github.com> wrote:

[2017-01-23 11:19] neilcampbell commented on #78
Just so we are clear, I am not planning on giving out collaborator access at this time.

[2017-01-23 11:44] garora commented on #78
@neilcampbell - no problems. I will start, this weekend. Can you label this issue as a 'feature' or whatever you think fit good?

[2017-01-23 12:10] neilcampbell commented on #78
Yep sure can 👍

[2017-02-20 15:36] paulmarshall opened #80 "Encoding issue with PactVerifier"
Sorted - sorry

[2017-02-22 14:33] neilcampbell commented on #80
@paulmarshall 👍

[2017-02-22 14:33] #80 closed

[2017-02-27 17:09] Blackbaud-JonathanBell commented on #78
@garaor - Are you looking at targeting this to .netstandard so the library can support both core and framework?

[2017-02-28 07:00] garora commented on #78
Yes, for .net standard I would like to wait for the release of 2.0. Plz
suggest if you have different opinion.

On 27/02/2017 10:39 PM, "Blackbaud-JonathanBell" <notifications@github.com>
wrote:

[2017-03-13 22:02] dcibrao opened #81 "Verify the HttpBody value types and not the exact values."
Hey guys,

Lately I have been working on with pact net and I came across your pact net implementation, which is awesome!

Nevertheless, I am finding that the tests are too frangible, as the verifier is checking for exact values and not verifying the types.

So for example if a have a expected response json like this one:
{
    "A": 1,
    "B": 2
}

 and a actual response json is like:

{
    "A":

[2017-03-14 21:55] #81 closed

[2017-03-21 11:38] paulmarshall opened #82 "v2.0 eta"
What is the timescale for an implementation of PACT v2 specification in PACT.NET ?

[2017-03-27 23:38] neilcampbell commented on #82
Hi @paulmarshall
There is no timescale for v2 of Pact .NET. You can follow the conversation https://github.com/SEEK-Jobs/pact-net/issues/9 and if you want to contribute, have a look at https://github.com/SEEK-Jobs/pact-net/pull/79

[2017-04-05 09:16] JosephWoodward commented on #78
Where can I find the branch for this? Potentially interested in helping out if help is needed?

[2017-04-05 09:34] garora commented on #78
Currently, I am waiting on .net core 2.0 release. I ll make a PR after
that. Meanwhile you can check my repository htpps://github.com/garora
Any support will be highly appreciated.

On 05/04/2017 2:55 PM, "Joseph Woodward" <notifications@github.com> wrote:

Where can I find the branch for this? Potentially interested in helping out
if help is needed?

—
You are receiving this because you were ment

[2017-04-05 10:02] JosephWoodward commented on #78
Out of interest, why are you waiting for the .NET Core 2.0 release, is there something in the release that will make migration easier?

[2017-04-05 11:25] garora commented on #78
.net standard 2.0
lot of new stuffs are coming.

On 05/04/2017 3:32 PM, "Joseph Woodward" <notifications@github.com> wrote:

[2017-04-05 11:26] JosephWoodward commented on #78
Ooh ok, .NET Standard 2.0 makes sense, thought there was something specific to .NET Core that was appealing, thanks 👍

[2017-04-05 12:10] garora commented on #78
Meanwhile, if you want to add anything feel free to add your bytes to repo
at github.com/garora

On 05/04/2017 4:56 PM, "Joseph Woodward" <notifications@github.com> wrote:

Ooh ok, .NET Standard 2.0 makes sense, thought there was something specific
to .NET Core that was appealing, thanks 👍

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https:

[2017-04-24 13:03] msheldonfl opened #83 ".Net Core Implementation"
We are moving to .Net Core and would like to adopt PACT testing.  The current library does not support targeting Core, would you be interested in accepting a PR that expanded support to .Net Core?

[2017-04-24 13:04] msheldonfl commented on #83
Just realized this is a dup of #78

[2017-04-24 13:04] #83 closed

[2017-04-24 13:09] msheldonfl commented on #78
.Net Standard 2.0 is not slated until Q3 of this year (https://github.com/dotnet/core/blob/master/roadmap.md).  That's still several months away. Any reason we can't start with a 1.x target in the meantime?

[2017-04-24 13:20] garora commented on #78
I will make a PR soon, till then you can visit my repo at github.com/garora

On Mon, Apr 24, 2017 at 6:39 PM, Mike Sheldon <notifications@github.com>
wrote:

--
Thanks & Regards,
Gaurav Arora
Lifetime member CSI <http://www.csi-india.org/> | Microsoft MVP
<https://mvp.microsoft.com/en-us/PublicProfile/5001684> | IndiaMentor
<http://indiamentor.com/user/gaurav_arora/>
<http://indiamentor.com/user/g

[2017-04-24 13:26] msheldonfl commented on #78
I'm not seeing your WIP in your repo.  Can you please direct me to the working branch?

[2017-04-24 13:30] garora commented on #78
I will push the changes by EOD tomorrow - you can see the changes in branch
- 'gaurav'

On Mon, Apr 24, 2017 at 6:56 PM, Mike Sheldon <notifications@github.com>
wrote:

--
Thanks & Regards,
Gaurav Arora
Lifetime member CSI <http://www.csi-india.org/> | Microsoft MVP
<https://mvp.microsoft.com/en-us/PublicProfile/5001684> | IndiaMentor
<http://indiamentor.com/user/gaurav_arora/>
<http://indiamentor

[2017-04-24 14:38] JosephWoodward commented on #78
Having ran the Pact.NET through [icanhasdot.net](https://icanhasdot.net) it appears that the main blocker is the dependency on `System.IO.Abstractions` (see the result [here](https://icanhasdot.net/result?github=SEEK-Jobs~2Fpact-net). Does anyone know of an alternative? If not then it may be that we have to wait for .NET Standard 2.

[2017-04-24 15:07] msheldonfl commented on #78
One of my teammates @cwilcox-fl has mostly completed a port to Core 1.1 here: https://github.com/cwilcox-fl/Pact-Net-Core

[2017-04-24 15:35] JosephWoodward commented on #78
Oh nice, you say mostly - what's missing?

[2017-04-24 15:54] cwilcox-fl commented on #78
The main issue involves the fact that **new StackTrace()** and **StackFrame** are not in the current core libraries.  Pact.Net uses these to infer the context name: <Assembly>.<TestMethod>.

[(https://github.com/dotnet/corefx/issues/1420)]

The issue is marked as 'Closed' but I'm not sure exactly what that means.  Wait for it in core 2.0???
Please chime in, anyone, if you can shed any light on thi

[2017-04-25 23:07] neilcampbell commented on #78
@JosephWoodward System.IO.Abstractions can just be replaced by some hand rolled adapters (we can just lift the interfaces and classes we use), it is only just used to extract an interface for testing/mocking purposes for code that talks to the filesystem.

[2017-04-25 23:25] neilcampbell commented on #78
@cwilcox-fl The test context is really only used to write out the test details to the log file for debugging/troubleshooting purposes. I'd be ok if we just didn't set the context (or set it to unavailable or something) when running from .NET core, until of course it is available.

[2017-04-26 08:15] garora commented on #78
You'd find more issues - and there are few more reasons I suggested to wait
for .Net Standard2.0

On Mon, Apr 24, 2017 at 8:08 PM, Joseph Woodward <notifications@github.com>
wrote:

--
Thanks & Regards,
Gaurav Arora
Lifetime member CSI <http://www.csi-india.org/> | Microsoft MVP
<https://mvp.microsoft.com/en-us/PublicProfile/5001684> | IndiaMentor
<http://indiamentor.com/user/gaurav_arora/>
<http:

[2017-04-26 11:19] cwilcox-fl commented on #78
@neilcampbell I pretty much have everything under control, I think.  Everything has been building successfully for quite some time with very little code commented out.

[2017-04-27 06:55] neilcampbell commented on #78
@cwilcox-fl Nice one. I am assuming you are planning on sending a PR to incorporate these changes back in? If so we will need to get the solution working for both Core and regular .NET side by side. Keep us updated with how you are going.

[2017-04-27 07:08] garora commented on #78
Doesnt .Net Standard work for both - why we need two separate things unless
we targetting .net versions

On 27/04/2017 12:25 PM, "Neil Campbell" <notifications@github.com> wrote:

[2017-04-27 09:22] neilcampbell commented on #78
@garora Yeah that may be the case. I'm a little out of touch with what is happening in that space to be honest, as I'm not doing much .NET at the moment.

[2017-04-27 09:24] garora commented on #78
+1

On 27/04/2017 2:52 PM, "Neil Campbell" <notifications@github.com> wrote:

[2017-04-27 09:30] #82 closed

[2017-05-02 08:16] AnnejanBarelds commented on #78
Interesting stuff going on! I'm also working on a port, targeting netstandard1.3 This involves factoring out Nancy as a dependency, but has the benefit of being available to full .NET as we speak, as opposed to when Core 2.0 comes out. And Nancy for netstandard1.6 is in still an alpha release, so that makes it a somewhat undesirable dependency.

I do have some work to do on it, among which the Sta

[2017-05-02 13:17] cwilcox-fl commented on #78
@AnnejanBarelds @neilcampbell  we have a core version working here [https://github.com/cwilcox-fl/Pact-Net-Core](url) that 'solves' the StackTrace / test context issue.
We're tying up loose ends and looking at creating a single solution with separate projects targeting ASP.Net core and ASP.Net legacy while sharing as much code as possible.

[2017-05-02 15:34] garora commented on #78
Our solution at https://github.com/garora will solve the problem. We will
make a PR sooner

On 02/05/2017 6:47 PM, "Craig Wilcox" <notifications@github.com> wrote:

@AnnejanBarelds <https://github.com/AnnejanBarelds> @neilcampbell
<https://github.com/neilcampbell> we have a core version working here
https://github.com/cwilcox-fl/Pact-Net-Core <http://url> that 'solves' the
StackTrace / test contex

[2017-05-03 07:18] AnnejanBarelds commented on #78
@cwilcox-fl are you sure you need separate projects? If you target netstandard 1.3, you can have a single library that can be used in both .NET 4.6 onwards and .NET Core 1.0 onwards (see https://docs.microsoft.com/en-us/dotnet/articles/standard/library). This can be done by removing Nancy as a dependency, because Nancy locks you in at 1.6. Not to mention that Nancy for .NET Core is in Alpha stage

[2017-05-03 23:20] neilcampbell commented on #78
I agree with @AnnejanBarelds, we should be aiming for a single library. Ideally we would have .NET 4.5 support, but at the end of the day if someone wants support for an old .NET version they can use an old version of the Nuget package. As mentioned above I would be ok with resolving the test context as "Unknown" (or something similar) when StackTrace is not available. Maybe we could use condition

[2017-05-04 11:51] cwilcox-fl commented on #78
@neilcampbell I too agree with @AnnejanBarelds; I've been experimenting with targeting netstandard1.3 and netstandard1.6 and seeing what builds, what doesn't and what other targets are able to reference them.  netstandard1.3 won't build because of Nancy; netstandard1.6 builds but virtually no 4.x framework projects can reference it.  Very frustrating as Nancy seemingly **must** be replaced and cer

[2017-05-04 12:13] AnnejanBarelds commented on #78
@cwilcox-fl @neilcampbell I'm making good progress on replacing Nancy. Not pushed to the remote branch yet, but will happen soon, possibly EOD.

As is mentioned in the link you referenced, targeting multiple platforms is really something to consider if the desired feature set does not fit in a single target platform. I would certainly see this as an option, for example to get support for .NET 4.5

[2017-05-04 12:21] cwilcox-fl commented on #78
@AnnejanBarelds @neilcampbell Great news on your progress replacing Nancy!
After further investigation and experimentation I quickly came to the conclusion that multi-targeting is a loser here and quickly withdrew my question from the post but, unfortunately, not before @AnnejanBarelds read it.

[2017-05-04 12:27] neilcampbell commented on #78
@AnnejanBarelds @cwilcox-fl Yeah replacing Nancy is quite a bit of work for sure, but I feel like its a good call.

Also thanks to everyone for getting involved and contributing, it's really awesome to see!

[2017-05-04 14:48] garora commented on #78
What are the challenges, you guys are facing? We successfully completed
this using Netstandard1.3 and its a stable build. We are still waiting for
Netstandard2.0 so, we can to remote branch. We did not make here a PR - the
reason, we did make the architecture of project bit differently.

On Thu, May 4, 2017 at 5:57 PM, Neil Campbell <notifications@github.com>
wrote:

--
Thanks & Regards,
Gaurav Ar

[2017-05-04 20:43] AnnejanBarelds commented on #78
@neilcampbell @cwilcox-fl Just committed work in progress to https://github.com/AnnejanBarelds/pact-net/tree/netstandard. It's really rough still, a real work in progress and the fastest possible way for me to determine whether my ideas on how to replace Nancy would work out. To do that I removed some Nancy-related unit tests and, most notably, the API, the client and the associated unit tests. Al

[2017-05-04 20:49] garora commented on #78
I appreciated your work.

No, my intention to make a more robust architecture of the solution so we
can easily play with backward compatability and my intention is not to
create a separate things. I will nake 'PR' as soon as our team give green
flag on our new implementation.

On 05/05/2017 2:13 AM, "AnnejanBarelds" <notifications@github.com> wrote:

[2017-05-04 21:22] neilcampbell commented on #78
@garora What does "a more robust architecture of the solution" mean?

Also please keep in mind that for all PR's I am going to need to review, so whatever you can do to make that easier, is very very much appreciated 😄

[2017-05-05 08:46] garora commented on #78
@neilcampbell - What does "a more robust architecture of the solution" mean?
This is what I called for a new architecture. Basically, I redesigned the whole solution architecture. Yes, I understand you will review it, no worries. You can start reviewing it as soon as I make a PR.

[2017-05-15 18:25] iamdavidfrancis commented on #9
Hi all,
What is the current state of the v2 progress? I'm interested in using it and am willing to help contribute.

[2017-05-15 23:50] neilcampbell commented on #9
Hi @iamdavidfrancis
Thanks for getting in touch.

Nothing has really changed on this front yet. I am going to sit down on the weekend and work out a path forward. Hopefully I will update this thread on the weekend with some more details on how you can help out 😄

[2017-05-16 00:16] bethesque commented on #9
Yay @iamdavidfrancis!

[2017-05-16 14:44] cheesemacfly commented on #9
Really interested in having a v2 implementation in .net too. I can help if needed!

[2017-05-18 23:38] gruntster commented on #78
I've been using the full framework version of PactNet with my .NET Core projects for a while via multiple framework targets.  Last night I decided to also take a look at what it would take to instead extend PactNet to support .NET Core.

I've created a fork and pushed my changes (https://github.com/gruntster/pact-net/commit/690d5920ef36f95f32587609b7776500dcdcf850).  .NET 4.0 is preserved as a tar

[2017-05-19 12:25] cwilcox-fl commented on #78
@grunster nice!

[2017-05-19 12:46] lopes22 commented on #9
I would also like to help. I'm particularly interested in at least getting the provider verification implemented for version 2. We have another team generating pact interactions through the Swift implementation and would like to verify them on our .NET web service.

Has anyone thought of a strategy for handling the "matchingRules" part of the spec? We need to apply the matching rules, but default

[2017-05-20 21:25] cnewham commented on #9
@baguaJerry and I put a good bit of work to support the V2 matchingRules and messaging for V3, but have not fully added support for V2 in the current codebase. It's pretty close, but still needs some work to integrate the new matching logic into interactions. I'm hoping to jump back onto this at some point, but if you're interested please have a look at #79

[2017-05-21 06:19] neilcampbell commented on #9
I have been thinking this through a bit and chatting with with some of the others in the pact foundation group. Our goal is to eventually have a language agnostic "core" and then simpler language bindings into the core. This will allow us to add new features across the board at lot faster and is why the Rust https://github.com/pact-foundation/pact-reference implementation is being written.

With t

[2017-05-21 06:22] neilcampbell commented on #78
I have been doing a bit of thinking about the direction of this project and would like your thoughts https://github.com/SEEK-Jobs/pact-net/issues/9#issuecomment-302917900

[2017-05-21 06:27] abhayachauhan commented on #9
I think it is a great idea. One of the challenges moving forward was always going to be keeping all these independent language libraries aligned and moving forward. The tests provided some sort of sanity but the feature parity was always an issue.

The fastest and future proof way to keep aligned.
Although I'm not sure why Rust was selected; regardless, +1 from me.

[2017-05-21 07:11] neilcampbell commented on #9
@abhayachauhan Rust was a good candidate because it works cross platform and has a very lightweight runtime (like C, C++) and can be embedded and called easily from other languages using FFI.

[2017-05-21 08:20] gruntster commented on #78
The anonymous type issue was related to using the library with .NET Core 1.1.  I'd set the unit test project to only target .NET Core 1.0 on the assumption that version 1.1 would support anything that worked with 1.0 - obviously not.  The unit tests now target the full framework along with .NET Core 1.0 and 1.1.  I've also fixed the incompatibility issues by no longer using dynamic parameters.

I'

[2017-05-21 08:21] gruntster commented on #9
Aye, I think the premise definitely has merit.  I looked at a similar approach last year but with the JVM version.  I tried a couple of things like using the JVM Pact Server with .NET and even converting the Java code to C# using tools like IKVM and Sharpen.  It certainly wasn't trivial.  Perhaps the Rust version will play out a bit nicer.

[2017-05-22 08:14] AnnejanBarelds commented on #78
@gruntster Looks very interesting! I'll take your code for a spin one of these days.

I do differ from you with regards to Nancy BTW. My main beef with this dependency in .NET Core is that it's in Alpha, and has been for almost half a year now. Moving away from Nancy to Kestrell would increase confidence that all relevant dependencies are actively being developed and maintained.

The multi-targeti

[2017-05-22 08:38] AnnejanBarelds commented on #9
I like the idea. I was/am considering to contribute to implementing new spec versions, so anything that can help speed things up in this regard is great news as far as I'm concerned.

[2017-05-22 09:05] gruntster commented on #78
@AnnejanBarelds I don't think we totally disagree, I just felt that creating a usable .NET Core version is a more important step than trying to replace Nancy.  I also don't think using a "beta" version of Nancy initially for the .NET Core flavour is really an issue considering this is a testing framework.  The version already in use for the full framework is a 0.x release.  The .NET Core version o

[2017-05-22 09:32] AnnejanBarelds commented on #78
@gruntster You're right that NET Standard 1.3 is aimed at 4.6 or higher, but that only affects the unit tests. The actual consumers and providers can remain on 4.0.

I'd have to look into the anonymous type thing a bit more then; I might have missed something here.

[2017-05-22 17:20] iamdavidfrancis commented on #9
I like this idea of wrapping a "core" library for other languages. If we can build out a dll from the Rust implementation, we can extern it easily in C# and have feature parity.

[2017-05-23 08:14] gruntster commented on #78
I've pushed another branch that targets .NET 4.0, 4.5 and Standard 1.3.

https://github.com/gruntster/pact-net/compare/feature/dotnet-core...feature/dotnet-core-no-nancy

[2017-05-23 13:14] cwilcox-fl commented on #9
For those interested in this idea but unfamiliar with FFI/embedding/wrapping (like me):
FFI stands for **Foreign Function Interface**
A good place to start an exploration of this space might be here [Stack Overflow Understanding FFI](https://stackoverflow.com/questions/5440968/understand-foreign-function-interface-ffi-and-language-binding)
If this can work, It's hard for me to express how great an

[2017-05-24 08:49] bethesque commented on #9
If you use the same technique as the javascript library has, you don't even need to use FFI. You just need a .net HTTP client for the mock service, and a nice way to run some provider setup hooks with the pact-provider-verifier on the other end.

[2017-05-24 09:35] AnnejanBarelds commented on #78
@gruntster You were right on the anonymous type issue, so I shamelessly used your code to fix ;).

I created a version that targets .NET Standard 1.3 only. The drawback is that full framework unit test projects that use PactNet must be on 4.6 or higher - but the actual provider and consumers under tests do not; they can be on 4.0, 3.5 or even lower should anyone want to. The advantage of only targ

[2017-05-24 13:09] neilcampbell commented on #78
I think I will probably hold off on merging any of the .NET core bits until I have something working for Pact v2, as there will be quite a lot of code deleted as a result (including Nancy). But yeah I would love some help/guidance on .NET core/standard stuff straight after that. Hoping to have a PoC working by the end of the weekend. Was hoping to have a bit more to show, but this week has been he

[2017-05-24 13:27] neilcampbell commented on #9
Yeah totally @bethesque, that is where I am heading to start with. But in my head the FFI piece is in relation to using the Rust integration with other protocols and messaging patterns (V3 spec). We need to get v2 first 😄

[2017-05-24 13:29] neilcampbell commented on #9
Also hoping to have a PoC done by the end of the weekend, so fingers crossed!

[2017-05-24 18:21] iamdavidfrancis opened #86 "Publishing provider verification results to a Pact Broker"
Does PactNet currently support publishing the verification results to a Pact Broker?

[2017-05-24 22:13] bethesque commented on #9
Awesome.

On 24 May 2017 11:29 pm, "Neil Campbell" <notifications@github.com> wrote:

[2017-05-24 23:33] neilcampbell commented on #86
Not directly from the consumer DSL, however this is something I like to do as a separate activity inside my build pipeline.

Basically:
1. CI runs the build/tests
2. Pact file is exported as a build artefact
3. Chained/dependant build kicks off and consumes the build artefact, analyses any source control or tagging metadata, pushes metadata and Pact file to the Pact broker

Here is a PowerShell sc

[2017-05-25 00:09] iamdavidfrancis commented on #86
Thanks, I've been talking with one of the guys on our build team. I think we're going to do something similar as well. Thanks.

[2017-05-25 00:09] #86 closed

[2017-05-26 06:40] MarcinKowal opened #87 "Could you add a sample with api controller taking data from other source than memory"
I'm looking an example where pact is being verified against real api controller taking data from source that should be mocked (ie database of remote service) I see that you're using Autofac IoC but wondering how to meet such scenario.

[2017-05-29 04:26] neilcampbell commented on #87
Hi @MarcinKowal
I don't have an example of that exact scenario as the solution is very dependant on your specific scenario, however it is possible.

When creating the PactVerifier and specifying the ServiceProvider, you just supply a new HttpClient with the BaseAddress property set to your running API base url.

Then when defining your custom provider state functions, you would need to either inse

[2017-05-31 14:50] ma499 commented on #9
@neilcampbell how did the PoC go? Can contributors help in some way?

[2017-05-31 23:02] neilcampbell commented on #9
@ma499 PoC went well. It all works pretty well with a few small trade offs. There will be some breaking changes on the verification side (nothing we can't fix with some doco).

Currently cleaning up a few things, then will push the branch (hopefully in the next couple of days). From there I will compile a list of things to do, and hopefully some of you can help out with them/test the changes in yo

[2017-06-01 06:37] #87 closed

[2017-06-04 00:41] neilcampbell commented on #9
I have updated the version-2 branch (https://github.com/SEEK-Jobs/pact-net/tree/version-2) with a new working version that uses the ruby standalone core engine. Inside the repo there is a TODO.txt file which has most of things I think we need to consider before shipping the official version 2 package.

If you are interested in helping out take a look at the list, pick an item, and let me know whic

[2017-06-05 09:16] bikashbehuria commented on #9
@neilcampbell  Thanks ! I will try to use the MatchingRules as soon as possible. Do you have some sample to look from Consumer and Provider perspective. Or any document to follow for the same ?

[2017-06-05 10:58] neilcampbell commented on #9
@bikashbehuria The sample in the repo have been updated, so that's the best place to start.

[2017-06-05 12:33] bikashbehuria commented on #9
@neilcampbell Thanks again. I can see the sample.

[2017-06-05 22:41] zomgNoUsername opened #88 "Incorrect use of HttpClient"
Hi, did you realize the way you're using HttpClient is not correct?

A client object is mean't to live for the life of the program.
You're not supposed to create a new one, and dispose it each time you use it.

Here is some more info: http://byterot.blogspot.com.au/2016/07/singleton-httpclient-dns.html

May I ask why you're using HttpClient in the first place, when you only have synchronous method

[2017-06-06 00:40] neilcampbell commented on #88
@zomgNoUsername Thanks for getting in touch.
Yes I realise that HttpClient should be shared. Where specifically are you referring to?

[2017-06-06 00:54] zomgNoUsername commented on #88
* [The sample code](https://github.com/SEEK-Jobs/pact-net#1-build-your-client)
* [EventsApiClient](https://github.com/SEEK-Jobs/pact-net/blob/master/Samples/EventApi/Consumer/EventsApiClient.cs) _ie not static_
* Test sample code [here](https://github.com/SEEK-Jobs/pact-net/blob/482fc7e1318ce27c6cdbb4710c40e0b0be8ba540/Samples/EventApi/Consumer.Tests/EventsApiConsumerTests.cs#L52) or [here](https:

[2017-06-06 01:05] neilcampbell commented on #88
Yep, so just in the sample usage of Pact. If you look at the Pact library itself it uses a single HttpClient, it's just a slight oversight in the samples.

[2017-06-06 01:22] zomgNoUsername commented on #88
OK cool.

I'm not sure what you mean by it's used correctly in the Pact Library, as it's totally up to how the developer chooses to use the type **PactVerifier**. If the example [here](https://github.com/SEEK-Jobs/pact-net#2-tell-the-provider-it-needs-to-honour-the-pact) made it clear that there should only be one instance of the **IPactVerifier** (instead of creating one per test method); I think

[2017-06-06 01:28] neilcampbell commented on #88
Pact internally runs a HTTP server, and uses an admin http client to setup interactions etc. That is what I am referring to. Internally there is some HTTP interactions occurring that you are abstracted away from.

In the PactVerifier example, there should only ever be one test to verify a single Pact, so there will never be multiple test methods.

[2017-06-06 01:57] zomgNoUsername commented on #88
I see, well I haven't been using the lib yet, this is just me having a quick look though the files.

Thanks Neil.

[2017-06-06 01:57] #88 closed

[2017-06-06 01:59] neilcampbell commented on #88
No worries @zomgNoUsername.
I will update the samples a bit to take into account your feedback.

[2017-06-07 08:15] JosephWoodward commented on #78
How have you been getting on with this @neilcampbell Happy to help out if you can put any up for grabs issues together. Would love to get a .NET Core version available.

[2017-06-07 11:11] neilcampbell commented on #78
Hi@JosephWoodward
Checkout https://github.com/SEEK-Jobs/pact-net/issues/9#issuecomment-306010081. My main priority has been v2 support, which I needed to fundamentally change the way pact worked to fit the direction of where the other language implementations are going. Help on core support on the version-2 branch would be amazing.

[2017-06-12 13:06] 4l1ce opened #89 "Ignore query parameters"
Is there a way to register an interaction with no query parameters and then all incoming request with ANY query parameters will be accepted?

[2017-06-13 14:55] paulmarshall opened #90 "Ordering of elements in the response"
Should PACT be sensitive to the order of elements within a response ?

[2017-06-14 00:52] neilcampbell commented on #89
@4l1ce Yes, just don't specify anything in the Query part of the ProviderServiceRequest

[2017-06-14 01:06] neilcampbell commented on #90
@paulmarshall When you say elements in a response are you referring to a json key value pair or are you talking about an array element?

If it is an array element you are speaking about then yes Pact is sensitive to order see https://github.com/pact-foundation/pact-specification/blob/version-1.1/testcases/response/body/array%20in%20different%20order.json

[2017-06-14 07:37] paulmarshall commented on #90
@neilcampbell Here is an example.

If I expect an API to return details of an "order" as follows:
[code]

But instead I get:
[code]

Then Pact will treat this interaction as a failure. I can maybe understand this for an array element (where  ordering has been applied and this needs to be preserved), but not for properties on a type whose ordering is ignored when de-serialised.

[2017-06-14 23:18] neilcampbell commented on #90
@paulmarshall PactNet should not fail under this scenario, so my guess is there is something else that is causing the failure. I have had others ask the same question, and every time so far it has been due to a different failure in the interaction (un-related to order). The order just makes it hard to see.

Is that the full order, or are there other fields returned?

I would try taking both items

[2017-06-14 23:19] neilcampbell commented on #90
Also this is the test case that proves it works correctly https://github.com/pact-foundation/pact-specification/blob/version-1.1/testcases/response/body/keys%20out%20of%20order%20match.json

[2017-06-16 03:25] #89 closed

[2017-07-02 11:26] neilcampbell commented on #9
The version-2 branch has now been completed and merged into master. I have also created a beta nuget package which can be installed from nuget.org by running `Install-Package PactNet -Version 2.0.0-beta -Pre`.

Before officially releasing this, I would love to get some people to install/test and make sure you are happy/provide feedback. Let me know if you can help out!

[2017-07-03 01:53] Stu-P opened #93 "Using my own client during pactverify"
Cheers for the 2.0 support!

I am trying to migrate my Pact tests over to the new 2.0 spec code but I am stuck on the Provider Verification.

I currently pass my own http client into the ServiceProvider but this appears to be no longer supported. We dont use OWIN, rather servicestack :( , so I needed to create a client and authenticate it myself rather than use the OWIN middleware in your samples.

[2017-07-03 02:10] neilcampbell commented on #93
Awesome, great to hear @Stu-P!
Yeah unfortunately we have had to move to a model where you will need to start the provider HTTP server and have it running on a port, so that we can talk to it. It was just too difficult to make the previous model work in a way that was compatible with .NET standard/core and work cross platform. Unfortunately I will not be able to add that method back in, which I am

[2017-07-03 02:37] Stu-P commented on #93
Below is what I was doing. I can spin up a self hosted ServiceStack service, but the service I am testing requires valid bearer token authentication. I must fetch a valid token from our dev oauth server, then add that on a HttpClient and pass that through. Otherwise I get a 401 on my requests.

I am not sure how to provide custom middlewares in ServiceStack which would remove our requirement for a

[2017-07-03 02:52] neilcampbell commented on #93
Unfortunately I don't know much about Service Stack, but we do have an example of token based authentication in the Samples in the repo (you may have already seen it). It uses Web API and OWIN though.

I would imagine that Service stack would have some extensibility hook like middleware.

[2017-07-04 08:30] #93 closed

[2017-07-04 12:33] #90 closed

[2017-07-04 12:34] neilcampbell commented on #93
Did you manage to get it working?

[2017-07-04 12:50] neilcampbell commented on #9
I have made an additional tweak so latest is now 2.0.1-beta, which can be installed using `Install-Package PactNet -Version 2.0.1-beta -Pre`

[2017-07-04 12:58] neilcampbell commented on #78
Support for Pact specification v2 has now been added and a beta nuget package published. I have kept .NET standard compatibility in mind with the refactoring to make v2 work, so hopefully it's easier to port over now (at least to get running on windows first).

@gruntster Do you have some time to take a look at converting the current master (with v2 support and now using the Ruby standalone core)

[2017-07-05 22:35] bethesque opened #94 "Enable pacts to be published to a broker as part of the library"
Or add the documentation if this is already available.

Here is an example of the ruby task - it should support the same functionality.

[code]

[2017-07-05 22:37] mefellows commented on #94
Perhaps even as a starting point, demonstrating how to programmatically retrieve/publish pacts in the idiomatic, Windowsy way. It's come up a few times in the past couple of days.

e.g. this seems to work from a publishing perspective:

[code]

[2017-07-05 22:53] neilcampbell commented on #94
I have been recommending using your CI server to do this, and then link to a script to do it https://gist.github.com/neilcampbell/bc1fb7d409425894ece0.

IMHO this is the best place to do it as it gives you much more flexibility for things like tagging. Also when running the tests locally/formulating the tests I generally don't want to be pushing the pact to broker for provider validation.

[2017-07-05 23:19] bethesque commented on #94
Oh, agreed, the running the consumer tests and the publishing the pacts are completely separate. And they should be published from the CI server, for sure. I don't know .net, but in JVM world there are maven tasks, and in Ruby world there are rake tasks. Is there an equivalent in .net so we can package that publishing code up nicely, and just expose the configuration?

[2017-07-06 00:06] neilcampbell commented on #94
@bethesque there is no real standard for this in .NET land. Usually I just include a seperate PowerShell script in the repo to perform this task. There are however tools like Psake, Fake and Cake, which enable proper build tasks like you get gradle, gulp, grunt (and the tools you mention), but there is no real standard task.

[2017-07-06 00:17] neilcampbell commented on #94
I think what I will do is just write a simple C# client and include in the library that does the publication, then it can be at least used in Fake or Cake tasks, and as @mefellows mentioned it could be also used as a reference to implement it in some other way.

[2017-07-07 01:14] bethesque commented on #94
Cool. You already know the publish request - the tag call is just a PUT to /pacticipants/CONSUMER/versions/VERSION/tags/TAG after you've published. It's not ideal to have two separate calls, but it's just how the API worked out.

[2017-07-07 09:22] bikashbehuria commented on #9
@neilcampbell . Thanks !
I have a question on how we are validating the response in provider side. In earlier version or (may be version 1) , we had ProviderServiceResponseComparer class which is being used for comparing two  i.e. actual and expected. Now there is no such class ? just curious to know , how are comparing now ?

Just FYI , i am in process to start V2 in my REST Provider and Consumer

[2017-07-07 11:53] neilcampbell commented on #9
@bikashbehuria The ProviderServiceResponseComparer is an internal class in v1 so I am not 100% sure what you mean? Is there anything you can share in a gist which demonstrates this?

Basically the primary method was to pass a HttpClient, which talked to the provider. Unfortunately that had to be deprecated due to using the ruby core and additionally wanting to get .NET standard/core support.

Inst

[2017-07-07 12:48] bikashbehuria commented on #9
@neilcampbell . I was debugging v1 earlier and I could see below code , which was meant for to verify Actual vs Expected   **_public ComparisonResult Compare(ProviderServiceResponse expected, ProviderServiceResponse actual_)**

Where it compares the result coming from actual API call with the JSON PACT file produced by consumer.

So thought of debugging same and see in latest code V2  as I have so

[2017-07-07 12:59] neilcampbell commented on #9
@bikashbehuria Thanks for providing a bit more context, I appreciate you sharing your experience!

Pact-Net is now making an interprocess call into the Ruby standalone shared core to do the actual verification, so you will not see a .NET stack trace for that part.

If you have different consumers calling the same API, they should be seperate Pacts, and as such they should have seperate consumer te

[2017-07-07 13:05] bikashbehuria commented on #9
@neilcampbell Thanks for all the information. I will setup the tests and come back to you again for any question.

[2017-07-10 11:03] JeanmarcLaiAqovia opened #95 "Argument exception when environment variable already exists"
Error occurs when SSL_CERT_FILE environment variable already exists. The error is:

System.ArgumentException : Item has already been added. Key in dictionary: 'ssl_cert_file'  Key being added: 'SSL_CERT_FILE'

I think it is caused by line 41, file PactCoreHost.cs. Would it be possible to update the code so it checks whether the key is already there, as in https://stackoverflow.com/questions/107168

[2017-07-10 12:49] neilcampbell commented on #94
@bethesque Can I supply multiple tags (via multiple calls) to the tag endpoint for a single consumer pact?

[2017-07-10 13:02] mefellows commented on #94
Yep, at least that's how I do it.

On Jul 10, 2017 10:49 PM, "Neil Campbell" <notifications@github.com> wrote:

[2017-07-10 17:33] JeanmarcLaiAqovia opened #97 "Allow installed ruby option instead of packaged ruby"
Would it be possible to use a installed ruby version instead of packaging the ruby for each instance? the lib folder that gets packaged into the nuget package in folder build\core\pact\lib is 28.3 MB. We have a micro-services architecture so would rather use one installed ruby instead as we have about >30 micro-services and growing.

[2017-07-11 00:34] bethesque commented on #94
Yup. I was wondering about exposing "tags" configuration instead of "tag" in the Ruby client, but couldn't think of a convincing usecase. If you actually do it already, I'll modify my code.

[2017-07-11 01:09] neilcampbell commented on #94
@bethesque I haven't published anything yet, so happy to go either way to be honest.

[2017-07-11 01:48] neilcampbell commented on #97
The actual .nupkg with the Ruby core is about 10MB (because it's zipped), but yeah as you mention when it's unzipped it is about 30MB.

I'm interested to understand why the 30MB is a concern for you? Are you committing the nuget packages to your source control?

Basically my thoughts were that anywhere the core is copied shouldn't need to be checked into source control, so size shouldn't really be

[2017-07-11 02:16] bethesque commented on #94
Let's go with multiple tags upfront, it'll save adding it later when someone raises an issue with their obscure usecase!

[2017-07-11 09:40] neilcampbell commented on #95
PR merged and is released in 2.0.2-beta

[2017-07-11 09:40] #95 closed

[2017-07-11 12:29] ma499 commented on #97
I work with @JeanmarcLaiAqovia. Here are my thoughts although none of them are showstoppers for us at the moment:

- I haven't checked if the Pact.NET library is .NET Standard yet but eventually I hope it is and we'll need it to be cross-platform to be more broadly useful with ASP.NET Core which I suspect most .NET microservices teams will be evolving towards.
- currently the 30 MB per service wou

[2017-07-11 13:27] neilcampbell commented on #97
@ma499 Thanks for the additional context.
I am completely ok with doing this if we can come up with a way to support both, and yes more than happy to accept PRs 😄

To confirm are you wanting to install Ruby or install the Pact Ruby Standalone core entirely in a shared location?

I would love to start targeting .NET standard soon'ish, and also think about cross platform support. For the Ruby standa

[2017-07-11 22:02] cheesemacfly commented on #9
@neilcampbell thanks for the work on the v2 it's great to see this project moving forward! I have been playing a little bit with the beta version and I have 1 question and 1 issue.

It looks like the provider state can now only be a uri? It does require the setup of the middleware like in the readme example but could we use just a string like in v1?

I get an issue about encoding somewhere in the

[2017-07-11 22:21] bethesque commented on #9
Are you using any unusual characters @cheesemacfly? It looks like '∩╗┐' is the thing that's making it blow up.

When you have a moment @neilcampbell could you set up an end to end example like https://github.com/pact-foundation/pact-ruby-e2e-example that can run on appveyor like https://github.com/pact-foundation/pact-ruby-standalone-windows-test ? It makes it really quick for people to give you a

[2017-07-11 22:21] bethesque commented on #9
@cheesemacfly could you please raise a separate issue, and include if possible an executable example, and at the very least, the steps to reproduce your issue.

[2017-07-12 08:30] neilcampbell commented on #9
@cheesemacfly To answer the question about about just using a string like in v1, unfortunately we cannot do that easily using the Ruby standalone core and also trying to target .NET standard.

[2017-07-12 10:32] Stu-P commented on #93
I did some digging around but it's beyond my skills. I'm trying to get one of my Devs to help me out.

[2017-07-12 14:43] cheesemacfly commented on #9
@bethesque I actually got a more detailed error message that says:

I'll create a seperate ticket with the file I'm using if you think that's worth it.

@neilcampbell Your answer actually triggered a new question: since the target is now .NET standard, I'm assuming the goal is to let people use .NET core and there own choice of os. How is the Ruby standalone going to play on unix systems? I have t

[2017-07-12 15:10] 4l1ce opened #98 "Match regex for Path and Query"
Enjoying Pact 2.0 a lot but still have a pain point.
Is that possible to match.Regex for Path and Query?
Can you please share an example if that is possible

Thank you

[2017-07-13 11:56] neilcampbell commented on #9
@cheesemacfly Yes that is correct. Ruby and travelling ruby (which is what we use for the standalone core) is cross platform. We have builds for all platforms, see https://github.com/pact-foundation/pact-ruby-standalone/releases.

The reason we are doing this is so we can have a common core across all language implementations. At the moment it's ruby, but we would like to potentially move to the r

[2017-07-13 12:05] neilcampbell commented on #98
Hi @4l1ce
Thanks for the feedback!

Only Headers and Body can contain matching rules in the v2 specification.

[2017-07-13 12:21] uglyog commented on #98
All attributes of a request should be matchable with v2 specification. Here is the documentation on matching with paths with Pact-JVM: https://github.com/DiUS/pact-jvm/tree/master/pact-jvm-consumer-junit#matching-on-paths-version-215

[2017-07-13 12:50] 4l1ce commented on #98
Thank you for reference!

[2017-07-13 13:10] neilcampbell commented on #98
Oh really @uglyog, I had no idea. There are no specification tests for anything other than body and headers, so assumed that was all that was supported.

[2017-07-13 13:16] neilcampbell commented on #98
@4l1ce I will look into getting this added soon.

[2017-07-14 22:51] bethesque commented on #94
One thing that just occurred to me - do the tagging calls first, as this means a call to "/latest-untagged" that might happen mid-publishing won't accidentally get a "dev" pact for a fraction of a second between calls.

[2017-07-15 07:29] neilcampbell opened #99 "Add support for publishing verification results to the broker"
Like in https://github.com/pact-foundation/pact-js#publishing-pacts-to-a-broker-and-tagging-pacts

[2017-07-15 07:35] neilcampbell commented on #94
This is now done and is available in the latest v2 package.

[2017-07-16 02:29] neilcampbell commented on #94
@bethesque Just saw your comment about doing the tagging calls first. Does sending the tag request/s first still work fine, when it is the first time publishing the Pact to a Broker and it's the first the Broker knows about that specific Consumer pacticipant?

[2017-07-16 04:00] bethesque commented on #94
I had to check on that myself to be sure, and found this: https://github.com/pact-foundation/pact_broker-client/blob/master/doc/markdown/Pact%20Broker%20Client%20-%20Pact%20Broker.md#a_request_to_tag_the_production_version_of_Condor_given_'Condor'_does_not_exist_in_the_pact-broker

[2017-07-16 04:01] bethesque commented on #94
Sometimes I'm awesome.

[2017-07-16 04:03] mefellows commented on #94
😜

On Sun, Jul 16, 2017 at 2:01 PM, Beth Skurrie <notifications@github.com>
wrote:

--
Matt Fellows
- http://www.onegeek.com.au/

[2017-07-16 05:11] neilcampbell commented on #94
Awesome stuff. Will make that change.

[2017-07-16 07:30] #94 closed

[2017-07-16 07:53] neilcampbell commented on #44
Now that we are using the Ruby standalone core, this feature is implemented there and has been tested to work correctly with Pact-Net.

[2017-07-16 07:53] #44 closed

[2017-07-16 09:06] neilcampbell commented on #98
This has now been added and is available in the latest beta nuget package 2.0.4-beta

[2017-07-16 09:06] #98 closed

[2017-07-17 07:00] adamrodger commented on #78
I've started a port to .Net Core for v2 (with the packed Ruby version of Pact) here: https://github.com/adamrodger/pact-net

The branch currently has Pact building and all tests passing in .Net Standard 1.5 and .Net 4.6.2. That may be able to move that back to 1.3 perhaps if there's a way to register for an event when the app is shutting down so that the standalone Pact mock server can be stopped.

[2017-07-17 07:17] neilcampbell commented on #78
@adamrodger Awesome work, I had a quick look and it's looking really good. I will have a better look tonight and add any comments.

In regards to the example_description, it would be great to preserve this feature, however I am not too worried if earlier version of .NET standard don't support this, we can just not set it. In my head it's definitely not something that should block targeting a lower

[2017-07-17 08:02] adamrodger commented on #78
@neilcampbell  Yeah I'd like to get that feature back in, but I couldn't get a reliable way of doing it in .Net Standard so I stripped it out for now in the interests of making progress.

I was having a bit of a headache building the NuGet package as well. In Nuget 3.x you can't have `install.ps1` to download the latest Ruby Core so it needs to be bundled in a `contentFiles` element (see [here](ht

[2017-07-17 08:04] adamrodger commented on #97
I think the best idea is to generate a 'plain' version which relies on the user having Ruby and Pact installed locally and on the PATH, and 'standalone' NuGets for each OS which package the appropriate Ruby Core as `contentFiles` - i.e. a `PactNet.nupkg` which just has `PactNet.dll` and a `PactNet.Win32`/`PactNet.Linux` etc which just have Ruby Core in them.

PactNet would then first look in the l

[2017-07-17 09:21] adamrodger commented on #97
I was thinking a NuSpec file something like this with a version for each OS:
[code]
PactNet could then check if one of those is installed by looking for a `.\pact` folder and if it doesn't find one then try and use one from the PATH. That should give you the best of both worlds if people want to use the standalone version but without making the NuGet package huge for people that don't.

You'd have

[2017-07-17 10:57] neilcampbell commented on #78
@adamrodger Apparently you can use init.ps1 in nuget 3.x, see comments in https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-package

[2017-07-17 11:34] neilcampbell commented on #97
@adamrodger Yeah that was another idea I was tossing around in my head. I think that is quite neat, and should work fine as long as we nail the error messages and doco to instruct the user what to do.

Sound like we will need to extract the actual PactNet ruby code out of the current zip and package into the PactNet library, that way we can support running with an installed version of Ruby and no

[2017-07-17 11:37] neilcampbell commented on #97
@bethesque It would be awesome to get your take on this and if you have any other ideas?

[2017-07-17 14:39] timrog1 commented on #97
I was talking with @ma499 and @JeanmarcLaiAqovia about this, and @adamrodger 's solution sounds the best idea. I wondered if there was any reason you thought the standalone version should take precedence over the installed one? Other than it all being nicely self-contained, are there any other reasons to prefer a standalone version? We'd see it working the other way round: the installed one is the

[2017-07-17 19:28] adamrodger commented on #97
@timrog1 The reason I think the standalone version one should be favoured is that if someone has gone to the effort of including the 'native' standalone version, that means they really must want to use it. It wouldn't make sense to add that as a NuGet reference only to ignore it and use a native one instead.

If you've configured a native one with SSL certs and things, you wouldn't install the sta

[2017-07-17 23:33] bethesque commented on #97
Not knowing how NuGet works, I can explain how pact-js does it. There is a separate pact-js package for each OS, as well as a plain pact-js package. When pact-js is installed, it detects the operating system on install, then picks the appropriate child package to install. I don't know if this kind of thing would work with NuGet though.

[2017-07-18 00:03] neilcampbell commented on #97
@bethesque Thanks for that info. Does the plain pact-js work without any of the OS specific packages and use the locally install Ruby? If so how does it include the ruby code?

Unfortunately Nuget is deprecating the ability to run scripts on install, so likely we will need to document that devs will need to install the base package (PactNet) and then the OS specific standalone (which probably wont

[2017-07-18 00:07] bethesque commented on #97
There is no option to use a local ruby installation in pact-js.

Could you reverse the dependency and have "pact.net for osx", "pact.net for windows", "pact.net standalone" etc which then installed the common package? That way you don't have to install two things, you just pick the appropriate one for your OS.

[2017-07-18 00:20] neilcampbell commented on #97
Yeah we can definitely do something like that as well. We just need to make sure we handle the scenario where you Dev on OSX and deploy to Linux (or any other combination), so allowing multiple language specific packages to be install at the same time.

I would imagine something like below:
- PactNet
  Contains the core PactNet code and allows you to run on a locally Ruby install and also discover

[2017-07-18 04:21] bethesque commented on #97
Sounds good. One extra implementation detail is that there are actually two linux packages - linux 32 bit and linux 64 bit.

[2017-07-20 02:07] iamdavidfrancis commented on #99
Is there a time frame on this feature?

[2017-07-20 02:12] neilcampbell commented on #99
@iamdavidfrancis Nah I haven't started this one yet, but we do accept PRs

[2017-07-20 02:49] iamdavidfrancis commented on #99
Okay, I can take a look at my schedule and see if I can get one in.

[2017-07-20 18:21] iamdavidfrancis commented on #99
I submitted a PR for it. Here are the comments I left on the PR:

[2017-07-20 23:17] neilcampbell commented on #99
Awesome stuff @iamdavidfrancis, will check it all out this weekend.

[2017-07-21 12:16] neilcampbell commented on #99
PR has been merged and this feature is available in 2.0.5-beta

[2017-07-21 12:16] #99 closed

[2017-07-26 08:18] GiampaLab opened #103 "Matching rules against field name with a '.' character are not working"
Hi,

I'm currently trying to test a contract with an Odata v4 endpoint.

As part of the [Odata json format specifications](http://docs.oasis-open.org/odata/odata-json-format/v4.0/os/odata-json-format-v4.0-os.html#_Annotation_odata.context) the server usually includes information other than the raw data in the response called annotations.

Annotations are name/value pairs that have a dot (.) as par

[2017-07-26 11:05] neilcampbell commented on #103
@bethesque This is an interesting one, would to hear your thoughts.

[2017-07-26 15:26] Blackbaud-IanThomas commented on #78
How close are we to getting this merged?  The PR looks like it is in pretty good shape, from what I have been able to follow.

[2017-07-26 23:20] neilcampbell commented on #78
@Blackbaud-IanThomas It's getting close. I'm working on testing the package in different framework versions at the moment. Hoping to have it merged into master by the end of the weekend.

[2017-07-27 00:46] ianthomas0 commented on #78
Thanks @neilcampbell!

[2017-07-27 01:03] Blackbaud-IanThomas commented on #78
Thanks!

[2017-07-27 10:12] taliesins commented on #103
As its json we should follow the same rules. So we should be able to quote property names e.g.

`$.body."@odata.context".level[2].id`

this would allow existing json functionality to be leveraged. For compatibility you may choose to just allow double quotes as it probably has the widest support for json libraries, but technically both should be allowed.

[2017-07-27 14:31] GiampaLab commented on #103
This won't work, we don't have any control on how Pact writes matching rules so the ruby library should take care of escaping json properties names with a '.'

[2017-07-27 22:30] uglyog commented on #103
The correct form is `$.body["@odata.context"]` (squire brackets around the quoted string). If the Ruby version is not writing the matchers in this form, could you raise an issue against that project.

[2017-07-27 22:44] uglyog commented on #103
For a reference, here are two tests in Pact-JVM:
https://github.com/DiUS/pact-jvm/blob/1aa4833dd3303880e4624d419ab9c437c6dc2402/pact-jvm-consumer-groovy/src/test/groovy/au/com/dius/pact/consumer/groovy/PactBodyBuilderSpec.groovy#L420
https://github.com/DiUS/pact-jvm/blob/1aa4833dd3303880e4624d419ab9c437c6dc2402/pact-jvm-consumer/src/test/java/au/com/dius/pact/consumer/PactDslJsonBodyTest.java#L71

[2017-07-27 23:21] bethesque commented on #103
I'll add some logic to put square brackets and quotes around names with dots in them.

[2017-07-27 23:22] bethesque commented on #103
I've raised the issue here https://github.com/pact-foundation/pact-support/issues/39

[2017-07-27 23:51] bethesque commented on #103
I've updated the code and released a new version of the ruby-standalone package (1.1.1).

[2017-07-27 23:53] neilcampbell commented on #103
Will get that updated on the weekend

[2017-07-28 07:07] GiampaLab commented on #103
This is great thanks for the quick feedback and support!

[2017-07-28 14:15] LindomarReitz opened #104 "Send a request with Authorization header"
Hello,

I'm having the problem to send a request with an Authorization header, because the PactVerifier.ServiceProvider only accepts the URI string.

In the previous version was possible to send a HttpClient, but it was removed in this commit: https://github.com/SEEK-Jobs/pact-net/commit/4d9b0b5f66a168f25cedb95590881f14b67e4da9#diff-cd5b8831bba1394e9a1d6c47643a8be5L83

How can I send a request wit

[2017-07-29 06:28] neilcampbell commented on #104
Hi @LindomarReitz
Thanks for getting in touch.

Yeah unfortunately we had to remove the HttpClient mode, as we wanted to move to using the shared ruby core.

My advice is to include the authorization header in the consumer side pact file instead.
Basically you would generate a deterministic dummy token when writing the consumer test, and when starting the provider for verification inject some kind

[2017-07-30 00:20] neilcampbell commented on #103
Merged into master now and is available in 2.0.6-beta

[2017-07-30 00:21] neilcampbell commented on #78
.NET core support has been merged into master and is available in 2.0.6-beta. Currently we still only support a windows platform at the moment.

[2017-07-30 00:21] #78 closed

[2017-07-30 04:21] neilcampbell commented on #97
Now that we have .net core/standard support, who is keen to have a crack at working on this?

[2017-07-30 14:24] JosephWoodward commented on #78
Yoohoo! Way to go :D

[2017-07-30 23:17] neilcampbell commented on #78
@JosephWoodward Nothing other than doing the work to support it. See https://github.com/SEEK-Jobs/pact-net/issues/97. Interested in working on this?

[2017-07-31 02:24] JosephWoodward commented on #78
@neilcampbell Possibly, what is Ruby used for?

[2017-07-31 02:37] neilcampbell commented on #78
@JosephWoodward It is used for the core pact functionality

[2017-08-04 12:49] bikashbehuria commented on #9
@neilcampbell . Not sure , which forum to discuss about one issue I found  but I need some help in starting up my PACT test in consumer side. I am facing some issue in my test , while starting Mock service . Here are some detail , which may help.
-  Created a Test project using xUnit . I am following what is being created in Event API consumer sample and test.
-  The MockService port is being set

[2017-08-06 06:26] bikashbehuria commented on #9
@bethesque . Thanks for your response.
They both ran in different time. I found the reason. Newtonsoft.Json library was not part of my test project . So I added the reference manually , it worked now.

Thanks !

[2017-08-06 06:40] bikashbehuria commented on #9
Just a information to share.
PactNet which is build targeting framework 4  not compatible with Newtonsoft.Json 10.0.* .  I am using latest 10.0.* so I had to change the target build of PactNet to 4.5.2.

[2017-08-06 07:34] neilcampbell commented on #9
@bikashbehuria The latest version of PactNet (still beta) does not target .NET 4 any more, but requires min 4.5, see https://www.nuget.org/packages/PactNet/2.0.7-beta.

[2017-08-07 07:20] bikashbehuria commented on #9
@neilcampbell  . Thanks . Now I am using latest from Nuget

[2017-08-08 03:13] bethesque commented on #104
I've added a `--custom-provider-header` option in the standalone 1.3.0. See documentation here: https://github.com/pact-foundation/pact-provider-verifier#setting-a-custom-authentication-header

[2017-08-11 07:15] bethesque opened #105 "Ensure PACT_DESCRIPTION and PACT_PROVIDER_STATE env vars can be passed down to pact verify to allow selected interactions to be run"
I've removed the ruby specific output from the pact verify command (yay!)

What I would like to add is words to the effect of "to run just one interaction, please rerun the pact verify command with PACT_DESCRIPTION="..." and PACT_PROVIDER_STATE="..." environment variables set.

Can you please update to the ruby standalone version 1.4.0 and verify that the above environment variables are passed thr

[2017-08-15 13:35] jklaus opened #106 "Release Question"
Sorry for asking in this manner, please let me know if there is a better way to communicate and feel free to remove this issue.

I'm leveraging your library in .Net Core targetting 461 and was curious how soon we might see the Match functionality in a formal release.  I can hold out for a little while but before going to prime time I'll need to get off the beta release.  Also - thanks!

[2017-08-15 23:10] neilcampbell commented on #106
@jklaus No problems. The big piece outstanding before it becomes a non-beta release is cross platform support, as that slightly changes the way the package is installed. I'm hoping to have that sorted by the end of the weekend, so if all goes to plan we should be good by mid next week or something like that.

[2017-08-15 23:23] neilcampbell commented on #105
@bethesque Awesome stuff!

When starting the process, we setup the environment variables for the process, so we could actually set PACT_DESCRIPTION and PACT_PROVIDER_STATE for the user if they pass it to the verifier.Verify() method. I think this is easier for the user, however the output messages becomes a bit confusing.

[2017-08-15 23:39] jdstuart opened #107 "Consumer need to call the MockProviderService before pact file will be generated."
The PackBuilder does not generate a pact file if there are no consumer client calls made against the MockProviderService. As soon as requests are made, the pact files will be written.

Don't know if this is intentional or not.

[2017-08-16 00:05] neilcampbell commented on #107
@jdstuart That's interesting, it was something that I was not aware of. I'm assuming you are referring to the latest beta version of the package? Also to confirm you are calling pactBuilder.Build()?

[2017-08-16 00:22] jdstuart commented on #107
Correct. I tried with the latest beta, 2.0.7, I believe. And yes. I'm calling pactBuilder.Build().

You can basically reproduce the issue by commenting out line 51-57 in the [EventsApiConsumerTests.cs](https://github.com/SEEK-Jobs/pact-net/blob/master/Samples/EventApi/Consumer.Tests/EventsApiConsumerTests.cs)

[2017-08-16 00:27] neilcampbell commented on #107
@jdstuart Thanks! Is there a specific reason you are wanting the Pact file, but are not making any consumer calls?

@bethesque Is this the behaviour expected from the Ruby core?

[2017-08-16 02:26] jdstuart commented on #107
Yes, actually there is. I was given an API spec with no actual JSON examples in it. I want to create the pact files so I can share it with the producer (API server) and ask them to validate my assumptions before I go ahead and develop the complete consumer. If possible I'd like to produce the pacts using the .NET library so I can get some work done, but not do too much that I may have to change in

[2017-08-16 11:51] jklaus commented on #106
Out of curiosity have you tested this with VS15 .NET core projects
targeting 461?  No matter where I execute the download script I'm getting a
file not found.  Or is this part of the cross platform support you
mentioned?  I'm having no issues in similar VS17 projects.

On Aug 15, 2017 7:11 PM, "Neil Campbell" <notifications@github.com> wrote:

[2017-08-16 18:23] jklaus opened #108 "Ruby interpreter continues to run after test completion, locking bin directory"
While making changes to the pact responses I noticed it seemed my DLLs were not being replaced.  After manually trying to go out and delete the bin contents I saw the folder was still locked.  I then killed VS and it was still locked.  Task manager showed two Ruby Interpreter processes running.  After killing those processes I am able to clean my bin folder.  I am seeing this behavior consistently

[2017-08-16 22:46] neilcampbell commented on #106
@jklaus What do you mean download script? Are you running the samples or are you running your own project? If it's your own project you do not need to run any download scripts. The PactNet project is a VS2017 only solution.

The samples only need to do this, as we take a project dependency on PactNet rather than a nuget dependency. The ruby core is currently packaged into the PactNet nuget package

[2017-08-16 22:49] neilcampbell commented on #108
@jklaus Can you please create a repro project that you can share?

[2017-08-17 12:54] jklaus commented on #106
This was occurring in my own VS15 project.  I nugot the 2.0.7beta release
and refactored tests accordingly.. header collection went from <string,
string> to <string, object>.  When I tried to run the tests I'd get an
exception related to not being able to find a file.  No details on what
file it couldn't find.  After that I took a look at your sample projects
and saw in one of your pact classes yo

[2017-08-17 12:56] jklaus commented on #108
I can't share this specific project as its a client's IP but if I get some
free time one evening or this weekend I could create a new VS15 project to
demonstrate the issue.. assuming the issue persists that is.

On Wed, Aug 16, 2017 at 6:49 PM, Neil Campbell <notifications@github.com>
wrote:

[2017-08-17 14:53] jklaus commented on #106
I even tried manually copying the pact directory from a working VS17 project to the non-functional VS15 project.  As I say that I wonder if the pact directory didn't need to be added as content to the project.json

[2017-08-17 22:54] neilcampbell commented on #108
Yeah no problems, a simple repro project would be awesome.

[2017-08-17 23:15] bethesque commented on #108
Why is killing processes on windows so hard?!?!

[2017-08-17 23:30] bethesque commented on #105
Filtering is something that you do temporarily, rather than something you want to put in the code and check in, so it make sense (to me!) be able to configure it from the environment rather than the code. However, I guess there are many people in windows environments who don't use the command line, or who aren't used to setting environment variables. Happy to take suggestions as to what the most u

[2017-08-18 00:39] neilcampbell commented on #108
@bethesque That is a great question! 😄

[2017-08-18 02:33] neilcampbell commented on #105
Yeah totally. I think I agree with that. I found when we had it configurable via code, people would misinterpret and misuse it.

[2017-08-18 02:40] neilcampbell commented on #106
Thanks for the additional details, will try reproduce on the weekend after I am finished with the cross platform stuff. If you could send a sample repo that reproduces the issue, that would be amazing.

[2017-08-18 02:45] bethesque commented on #107
The mock service will only write verified interactions to the pact file, where "verified" means that the interaction was both mocked and replayed successfully by the test code. This is to stop the scenario where you write interactions to a pact file that your code doesn't actually execute.

[2017-08-18 02:47] bethesque commented on #107
@jdstuart I'm sorry, the way the mock service currently behaves doesn't support your workflow. You could just execute the calls "manually" (ie. just using a basic HTTP client) in your tests to force the interactions to be written to the pact file.

[2017-08-18 12:57] jklaus commented on #108
@bethesque  1) I'm concerned how it will behave on our build server.  2) Its hacky to have to kill a process like that.

[2017-08-19 00:40] neilcampbell commented on #108
@jklaus @bethesque has been running into some issues killing windows processes on some stuff she has been working on, so it's a comment about that. Pact-Net should 100% take care of killing the process, so if it's not, we need to fix it.

[2017-08-20 23:22] bethesque commented on #108
Yeah, sorry @jklaus, it was a wail of frustration because I spent a LOT of time trying to work out how to get the underlying pact library to politely kill the process through the same command line interface that starts it, and ended up giving up in defeat and asking the wrapper library maintainers to just kill the process by whatever means were available to them. It was a very unsatisfactory solut

[2017-08-21 06:34] #107 closed

[2017-08-21 06:39] neilcampbell commented on #106
@jklaus The cross platform work has now been merged into master, so the samples will look a little closer to what I expect a standard user would do. Please not this is a VS2017 only solution, but you shouldn't have any issues installing PactNet nuget package in a VS2015 solution.

Are you able to try again with the latest nuget package?

[2017-08-21 06:48] neilcampbell commented on #97
Cross platform support is now merged into master (and released in the latest nuget) and we now have 3 new platform specific packages, which work as described above:
- PactNet-Windows
- PactNet-OSX
- PactNet-Linux-x64
- PactNet-Linux-x86

@JeanmarcLaiAqovia @ma499 If you would still like to use a local ruby install, I am happy to accept pull requests for this feature. There is a TODO placeholder fo

[2017-08-21 06:50] neilcampbell commented on #108
@jklaus I cannot reproduce this issue. Can you try again with the latest version? Without a sample project that reproduces this issue, I can't really do much.

[2017-08-21 14:51] jklaus commented on #108
@bethesque  - np, I get the frustration.  I've been fighting VS17 since we've migrated all of our projects from VS15.  With this mornings update (15.3.1 IIRC) things seem to be getting better though.

@neilcampbell  - I'll try to circle the wagons on this today.  I need to wrap a few other things up first though.

[2017-08-21 14:53] jklaus commented on #106
@neilcampbell Sorry I forgot I was to be on dad duty Sunday so I didn't get around to creating the VS15 test project.  I'll try to get back to this today.

[2017-08-23 04:00] neilcampbell commented on #78
BTW Cross Platform .NET Core is now supported in the latest beta package

[2017-08-23 04:17] garora commented on #78
@neilcampbell - awesome news! Let us discuss on the changes I proposed.

[2017-08-23 04:21] neilcampbell commented on #78
@garora What changes have you proposed? I think it's worth taking a look at the current state of master, as it has changed quite considerably.

[2017-08-23 04:22] garora commented on #78
Sure!

[2017-08-23 09:03] GiampaLab commented on #103
Hi all,

I managed to test this fix only today and unfortunately is still not working.
The pact file looks fine and the match rule now is escaped correctly:

`
"$.body[\"@odata.context\"]": {
            "match": "type"
          }
`

Yet the test is failing on the producer with the following error:

`
Diff
       --------------------------------------
       Key: - is expected
            + is ac

[2017-08-23 10:08] neilcampbell commented on #103
@GiampaLab That's interesting. Any ideas @bethesque?

[2017-08-23 10:09] #17 closed

[2017-08-23 10:40] mefellows commented on #17
Why was this closed (something I don't know about :) ?)

[2017-08-23 11:19] neilcampbell commented on #17
@mefellows Nope, still nothing done on this front. Realistically I don't see this happening any time soon and it's not something I really have a need for. Can re-evaluate later if the ruby core gets support for xml.

[2017-08-24 23:07] bethesque commented on #103
I've replicated the problem [here](https://github.com/pact-foundation/pact-ruby-e2e-example/commit/34cccdffbe0d4c4bda7c643370d2d45482dcbd09)

It's actually the `@` symbol causing the problem, not the dot. I'll look into it.

[2017-08-24 23:51] bethesque commented on #103
I've pushed a fix. The keys with dots needed to be quoted with single quotes, not double quotes. Can you update to 1.4.3 of the ruby standalone when you have time @neilcampbell

[2017-08-24 23:55] neilcampbell commented on #103
Awesome stuff @bethesque! Yep will do.

[2017-08-26 01:56] neilcampbell commented on #103
@bethesque After updating from 1.1.2 to 1.4.3, I started getting a "400 Bad Request - Invalid Hostname" coming back from my sample api when performing provider verification.

After doing some investigation it appears the windows (maybe others?) standalone is sending `Host: example.org` instead of `Host: localhost:{port}`.

Any ideas on this one?

[2017-08-26 06:35] neilcampbell commented on #103
@bethesque Also the new version no longer supports the following scenarios:
1. When the body is a json string, see https://github.com/SEEK-Jobs/pact-net/blob/master/Samples/EventApi/Consumer.Tests/pacts/event_api_consumer-event_api.json#L131.
The error returned is `JSON::ParserError: 757: unexpected token at '"1.0.22"'`
2. When the body is explicitly null, see https://github.com/SEEK-Jobs/pact-net

[2017-08-26 21:45] bethesque commented on #103
I've not deliberately changed anything to do with those issues, they must be side effects of something else. Perhaps the JSON version upgrade. I'll investigate.

[2017-08-26 21:54] bethesque commented on #103
"1.0.22" is not a valid json object. It needs to be either a hash or an array at the top level. There's some debate [here](https://stackoverflow.com/questions/7487869/is-this-simple-string-considered-valid-json) but the new Ruby JSON library obviously takes the opinion that just a string doesn't count as a standalone serialisation.

[2017-08-26 22:01] bethesque commented on #103
Can you give me the stacktrace of the second one, as I can't reproduce it in my e2e project.

[2017-08-27 00:28] bethesque commented on #103
I've made an e2e example using the standalone packages [here](https://github.com/pact-foundation/pact-ruby-standalone-e2e-example) and have recreated the issue. Will need to give it some thought on how to fix the second example, though (and I'm willing to be convinced otherwise) I feel that the first one is a #willnotfix.

[2017-08-27 00:39] bethesque commented on #103
Actually, no, sorry, I can't reproduce the second issue.
Commit here: https://github.com/pact-foundation/pact-ruby-standalone-e2e-example/commit/823abfec4712c1f2c370de597724282e2a10e69a
Build passing here: https://travis-ci.org/pact-foundation/pact-ruby-standalone-e2e-example/builds/268791886

Can you have a look here and see if you can work out what's different between the example and the .net co

[2017-08-27 03:17] bethesque commented on #103
I've fixed the host problem.

[2017-08-27 03:42] neilcampbell commented on #103
@bethesque Awesome stuff! I was on the fence about the first one as well, but yeah technically it is supported in the json spec. Happy to mark that as a #willnotfix.

For the second item, I will look into it a bit deeper and see if I can reproduce/fix.

[2017-08-27 07:20] neilcampbell commented on #103
@bethesque I recreated the problem using pact-ruby-standalone-e2e-example on OSX. In your example in https://github.com/pact-foundation/pact-ruby-standalone-e2e-example/commit/823abfec4712c1f2c370de597724282e2a10e69a you set the response body to null, it's when the request body is null where the issues arises.

[2017-08-27 07:59] neilcampbell commented on #108
@jklaus Any update on this one?

[2017-08-27 23:12] bethesque commented on #103
Ah! Thanks. How strange. I'll have a look into it.

[2017-08-27 23:43] bethesque commented on #103
Now I'm playing with it, I'm unsure what a null body means. Is it the JSON string "null". Is it an empty string? Does it mean 0 Content-Length? What is our use case? I'm confused now...

[2017-08-27 23:48] uglyog commented on #103
A null body has to be a body that is the JSON null value (i.e. represented string value of 'null').

[2017-08-27 23:52] neilcampbell commented on #103
To me it's similar to the null use case for a response. We are explicitly saying that the value should be set to null, and not be just any body (which is denoted when you omit the body key).

[2017-08-28 00:05] bethesque commented on #103
No body would be an empty string (Content-Length: 0). The only way this makes sense as a separate use case is if it's the string "null" (which is again not a valid JSON "object"). Ron, does JVM pact support a 'property' (ie. top level string, boolean, number, null)?

[2017-08-28 00:08] neilcampbell commented on #103
I am assuming if top level strings aren't supported at the moment, then empty string is not supported either?

[2017-08-28 00:15] bethesque commented on #103
Sorry, I used ambiguous terminology. Thinking of the actual HTTP request, an empty body is where `Content-Length: 0`. The way this would be represented to the HTTP server would probably differ by language and implementation. Some frameworks might say the body was null, and some might return an empty string.

A JSON String or empty JSON String would have`Content-Length > 0` in that it would be `""`

[2017-08-28 00:18] neilcampbell commented on #103
Yep, got you. So how should we be representing no body in a language agnostic way? My understanding was setting `body: null`, but maybe it's better to not set body and add a `Content-Length: 0` header?

[2017-08-28 00:35] uglyog commented on #103
In Pact JVM there are the following values for JSON bodies:

- Empty body (the Content-Length header will have a value of 0)
- Empty string body (represented by the empty JSON string `""`, Content-Length will probably = 2)
- Null body (represented by the JSON null value, Content-Length will probably = 4)
- JSON body, which could be a number, true, false, a string, an array or an object.

In the Pa

[2017-08-28 12:03] neilcampbell commented on #103
I have removed the null body from the consumer sample now. Will get a new release out tonight with the latest pact standalone.

[2017-08-28 23:16] bethesque commented on #103
Given we're going to be moving to the Rust impl in the future, I'm reluctant to spend a heap of time on this null body thing until someone actually has a use case for it. Can we raise an issue to document the problem, and then wait until somebody jumps up and down about it?

[2017-08-28 23:23] neilcampbell commented on #103
Sounds good to me. On which project should I document the problem?

[2017-08-28 23:34] bethesque commented on #103
https://github.com/pact-foundation/pact-mock_service, that's where the pact is written in the ruby impl.

[2017-08-28 23:46] neilcampbell commented on #103
@GiampaLab This issue has been fixed and released in 2.0.12-beta

[2017-08-28 23:46] #103 closed

[2017-08-29 10:51] GiampaLab commented on #103
Thank @neilcampbell, @bethesque , @uglyog I just tested the new beta release and it's working correctly, well done!

Also we are working on a library which makes producer tests trivial to implement and supports branching you can find it [here](https://github.com/Aqovia/Aqovia.PactProducerVerifier)

Let me know what you think!

Thanks

[2017-08-29 11:42] neilcampbell commented on #105
This has been tested and works correctly.

[2017-08-29 11:42] #105 closed

[2017-08-29 13:17] neilcampbell commented on #104
@LindomarReitz This has now been added to the latest nuget package (2.0.13-beta). This is exposed via PactVerifierConfig.CustomHeader

[2017-08-29 13:17] #104 closed

[2017-08-29 17:04] steve-westwood opened #110 "Trouble with the MockHttpService"
I'm having a bit of trouble getting my first v2 consumer test running. Keep getting this error message:

.NET45 using 2.0.13-beta on Win7

Any ideas?

[2017-08-29 20:08] neilcampbell commented on #110
Hi @steve-westwood
To confirm, you do have `PactNet-Windows` nuget package installed in your project?
What version of nuget are you running on your machine?

[2017-08-30 06:52] steve-westwood commented on #110
Yes the *PactNet-Windows* prerelease 2.0.13-beta nuget package.

[2017-08-30 06:57] steve-westwood commented on #110
I can see in a the code it fails because it's looking for a directory called *pact-win32* in the build output, and it does seem to be there when I look for it myself.

[2017-08-30 06:58] neilcampbell commented on #110
Are you using VS2015?
What version of Nuget are you running?
In your csproj file is there a target include for PactNet-Windows.targets?

[2017-08-30 07:01] neilcampbell commented on #110
Yeah that is correct the target will copy the relevant files into your output directory.
If you run `Directory.GetCurrentDirectory()` from within your tests, do you get the same path as the output location?

[2017-08-30 07:06] steve-westwood commented on #110
Ah, might be getting somewhere.. in my csproj there's only a reference to PactNet:

I'm away from my laptop but I'm pretty sure I'm using nuget v3.

[2017-08-30 07:20] neilcampbell commented on #110
That's to be expected, PactNet-Windows is a tools only nuget package.
If you are getting the files in pact-win32 in your output path, nuget is likely doing everything correctly. My guess is that `Directory.GetCurrentDirectory()` isn't resolving to your output directory. How about running `System.IO.Path.GetDirectoryName(System.Reflection.Assembly.GetExecutingAssembly().CodeBase)`?

What test runne

[2017-08-30 08:43] steve-westwood commented on #110
My test runner is *nunit v3* and the `System.IO.Path.GetDirectoryName(System.Reflection.Assembly.GetExecutingAssembly().CodeBase)` comes back with:

and if I look in there I see `pact-win32` as expected :/

[2017-08-30 08:53] neilcampbell commented on #110
Currently it uses `Directory.GetCurrentDirectory()`, so I need to know what that returns. I may move to the other method depending on your results.

[2017-08-30 08:55] steve-westwood commented on #110
Yikes, I get this from `Directory.GetCurrentDirectory()`

[2017-08-30 09:09] neilcampbell commented on #110
Interesting. That will be the issue. I will change the way that works and publish an update.

[2017-08-30 09:15] steve-westwood commented on #110
Thanks Neil

[2017-08-30 09:38] neilcampbell commented on #110
No problems, thanks for reporting it.

Update has been pushed and will be released in `2.0.14-beta` after this build has completed https://ci.appveyor.com/project/SEEKJobs/pact-net/build/281.

Can you please update the nuget package once available, and confirm everything is working as expected?

[2017-08-30 10:20] neilcampbell commented on #110
@steve-westwood and 2.0.14-beta is published. Keep me posted.

[2017-08-30 12:07] steve-westwood commented on #110
Thanks, I can confirm the update has fixed this issue.

Still haven't quite got it working but I think this is my implementation.

[2017-08-30 12:08] #110 closed

[2017-08-31 08:58] davidchipping commented on #106
Sorry to jump on the back of this issue (if there is a better way of asking please let me know) but it seemed related. I was wondering if there was a rough ETA for the RC 2.0 release?

[2017-08-31 09:08] neilcampbell commented on #106
@davidchipping No worries mate, this is fine.

I'm ready to release it now.
Have you installed the latest beta and are happy with everything?

I was just planning on waiting for confirmation from @jklaus that the issue is sorted, but I may just end up dropping it if everyone is happy with the beta.

[2017-08-31 13:59] adamrodger commented on #108
@neilcampbell I've got exactly the same issue

[2017-08-31 23:37] neilcampbell commented on #108
@adamrodger Oh really, are you able to create a repo project and help me diagnose the issue. I would really like to get this fixed.

Also:
What VS version?
What .NET version?
What OS version?
Do you have local admin permissions on the machine?
What test framework and version are you using?
What test runner are you using to run the test?

[2017-09-01 05:58] adamrodger commented on #108
PactNet-windows 2.0.14
Vs2017 15.3.3
net452 target framework (using new csproj system)
win7-x86 runtime on a Win7 x64 machine
Full local admin
Resharper 2017.2

I could try and make a repo, but it's literally just a bare repo with one
pact test that had the issue. The ruby process hangs around after your
tests finish and can cause files to be locked (I noticed it because I tried
to delete one of t

[2017-09-01 07:36] neilcampbell commented on #108
@adamrodger That is strange I have tried to reproduce on about 3 different machines without any luck, so not sure what is going on.

Can you pull down the PactNet solution and run the samples, and does that have the same effect on your machine? Is it the consume or provider tests or both that are causing the issue?

[2017-09-01 10:49] adamrodger commented on #108
I'm getting an even worse problem now than just the files remaining locked. Because the mock provider doesn't shut down, if you then go and delete a consumer expectation and re-run your tests, it's still written to the resulting pact file even though it's now been deleted from your tests. All previous interactions are remembered between test runs! Process:

1. Run all your consumer expectation tes

[2017-09-01 12:49] neilcampbell commented on #108
Yeah the mock provider will maintain the interactions it's seen, so it really needs to shutdown after the test suite has run.

That's interesting we stop the mock provider when `mockProvider.Build()` is called or when the app domain unloads via `AppDomain.CurrentDomain.DomainUnload`, so it should cover those scenarios. If you could do some investigation, that would be amazing!

Could even be somet

[2017-09-01 12:54] neilcampbell commented on #108
I just tried debugging a test, and pressing stop in the resharper test runner rather than play, and that seems to prevent the app domain unload hook from firing. I think that might be the culprit?

[2017-09-01 13:16] neilcampbell commented on #108
Yep I think that is the problem. The issue is that I don't know how to solve it. When using stop in a debug session the process is being killed immediately, so the unload/stop handlers will never fire. See https://stackoverflow.com/questions/11023944/stop-debugging-event-in-c-sharp.

I'm not sure what to do here, other than to document the issue and ask people to terminate the ruby process or have

[2017-09-01 14:05] adamrodger commented on #108
Ouch, yes that definitely could be it. I've definitely been doing that
today.

The bigger problem is that the second test session then reuses the session
from the first aborted session. So I can see a few possibilities:

- detect the previous session on start up and fail immediately with a
sensible message or just kill it so the next one starts clean
- stop the second session reusing the first one

[2017-09-01 16:20] steve-westwood commented on #110
Sorry guys, just got a similar issue to the first whereby the pacts seems to be getting stored to `C:\Users\user\AppData\Local\pacts` rather than the desired directory?
`
            PactBuilder = new PactBuilder(new PactConfig
                {
                    SpecificationVersion = "2.0.0",
                    LogDir = $"..{Path.DirectorySeparatorChar}..{Path.DirectorySeparatorChar}..{Path.D

[2017-09-02 02:38] neilcampbell commented on #110
@steve-westwood Woops forgot to update the defaults in the PactConfig. Just pushed the change, which will be available in the 2.0.15-beta. You should be able to just use the default log and pact directory, and it should work.

[2017-09-02 02:57] neilcampbell commented on #108
@adamrodger Unfortunately there is no way to kill a child process when the parent dies using the .NET managed process class, however you can with some interop code. https://stackoverflow.com/questions/3235218/how-terminate-child-processes-when-parent-process-terminated-in-c-sharp. The problem with COM interop is it doesn't really translate cross platform.

I would prefer to kill the process on ter

[2017-09-02 06:45] adamrodger commented on #108
It's an awkward flaw for sure, but it sounds like for now the mitigation
has to be more about warning the user and letting them deal with it if
there's no cross-platform way of guaranteeing that the ruby process always
terminates.

In the normal case when the tests just run to completion, either locally or
on a CI server, this isn't a problem. It's only a problem if you debug your
tests and kill t

[2017-09-04 08:38] steve-westwood commented on #110
I can confirm the config defaults work, but the problem still persists if you enter any relative paths. I'll use the defaults for now.
Thanks!

[2017-09-05 01:53] neilcampbell commented on #110
@steve-westwood Yeah that is correct. The issue is with your test runner, it's using your AppData for it's build directory. All we can safely do is provide a sensible default that works, if that get overridden then it's up to user to make sure it goes where they want it.

[2017-09-05 15:38] davidchipping commented on #106
At the moment we're happy with it :+1:

[2017-09-06 02:24] neilcampbell commented on #108
@adamrodger I think I will leave it as it is for now and not try to detect and prevent reusing the ruby process, because this will never happen on a build server and really a user should be producing the pact artefacts on a build server.

[2017-09-06 03:08] bethesque commented on #108
Agreed. You wouldn't push from your local machine.

[2017-09-06 08:17] neilcampbell commented on #106
The first official v2 spec release has been created (2.0.17).

To install use either:
- PactNet.Windows (was previously PactNet-Windows)
- PactNet.OSX (was previously PactNet-OSX)
- PactNet.Linux.x86 (was previously PactNet-Linux-x86)
- PactNet.Linux.x64 (was previously PactNet-Linux-x64)

[2017-09-06 08:17] #106 closed

[2017-09-06 08:18] neilcampbell commented on #9
The first official v2 spec release has been created (2.0.17).

To install use either:
- PactNet.Windows (was previously PactNet-Windows)
- PactNet.OSX (was previously PactNet-OSX)
- PactNet.Linux.x86 (was previously PactNet-Linux-x86)
- PactNet.Linux.x64 (was previously PactNet-Linux-x64)

[2017-09-06 08:18] #9 closed

[2017-09-14 10:45] b3hdad opened #111 "ProviderServicePactFile"
Hello,
I was wondering what happened to the ProviderServicePactFile class. I upgraded the pact.net in the stub library, to the latest version and I am getting error that this class doesn't exist.

Do you have any suggestions?

Thanks.
Behdad.

[2017-09-15 00:10] neilcampbell commented on #111
Hey @b3hdad
Now that we use the ruby host as the engine, it takes care of writing the Pact file for us, so we don't need that model anymore.

What are you using ProviderServicePactFile for?

[2017-09-15 14:00] b3hdad commented on #111
Hi @neilcampbell,

If you go to the bottom of the page for Pact.Net, you will see I have referenced two tools. One is the Pact.Net Stubbing library and one is the Simulator. Both of which can be used to isolate services based on what is in the pact file. So to stub a service, during pact automation, one can add the stub library to the project, and provide the pact file and the library will act as

[2017-09-15 21:54] neilcampbell commented on #111
Ah yep, thought it may be for those.
You can still do it, you will just need to create you own copy of that type (ProviderServicePactFile) and read the pact file from disc, then deserialise into a ProviderServicePactFile or call whatever you want to call it.

[2017-09-16 00:30] b3hdad commented on #111
If I do it this way wouldn't the schema go out of sync with the class over time?

[2017-09-17 07:29] neilcampbell commented on #111
Yeah it may do when the pact specification changes, however that is very infrequent.

[2017-09-17 09:49] b3hdad commented on #111
Ok sure. Thanks @neilcampbell , I will find the class in git history and move it the tools.

[2017-09-17 09:49] #111 closed

[2017-09-17 22:28] neilcampbell commented on #111
https://github.com/SEEK-Jobs/pact-net/blob/1.3.2/PactNet/Mocks/MockHttpService/Models/ProviderServicePactFile.cs

[2017-09-27 07:05] adamrodger opened #112 "MinType Matcher Generates Unsupported Matching Rule"
I have a matching rule in my consumer like this:
[code]

where "values" is just a simple array of strings. This generates a Pact containing:
[code]

However, when I try to verify that Pact in my provider, I get:
[code]

I'm not sure if it's PactNet generating an invalid matching rule or the Ruby standalone runner not interpreting them properly, but I'm using PactNet.Windows v2.0.17 so I'll raise i

[2017-09-27 07:23] adamrodger commented on #112
I've just done some experimenting and even though you get the message saying the rule is unsupported, it does seem to actually still be applied.

If I set it to `Match.MinType("example", 3)` but the response only returns a 2-element array, the verification fails because the array is too short. Even though it looks like the rule was being ignored, perhaps the error message isn't actually true.

[2017-09-27 08:23] neilcampbell commented on #112
@bethesque Any ideas on this? I noticed this https://github.com/pact-foundation/pact-support/issues/35. 2.0.17 uses the latest ruby standalone.

[2017-09-27 21:27] bethesque commented on #112
It's one of those things that's been floating around for ages and it's never gotten to the top of my priority list as it doesn't seem to be affecting behaviour. Raise an issue in pact-support and I'll investigate when I can.

[2017-09-27 23:15] neilcampbell commented on #112
Thanks @bethesque! Will do.

[2017-09-27 23:24] #112 closed

[2017-10-17 11:00] khansen opened #115 "pact-provider-verifier throwing error "undefined method `strip' for Pact::Term""
PactNet version: PactNet.Windows.2.0.17

I have an interaction (generated by pact-js version 3.0.1, targeting specification version 2.0.0) which defines a regex matcher for the Authorization header:

[code]

This is causing the following failure from PactVerifier.Verify():

[code]

No further backtrace.
I'm guessing this is a problem in the Ruby verifier itself, not with PactNet, but I've not been

[2017-10-17 19:49] bethesque commented on #115
The way to recreate the issues without the .net code is to use the ruby-standalone-e2e-example codebase. I've attempted to recreate your issue here, but haven't succeeded. https://github.com/pact-foundation/pact-ruby-e2e-example/commit/8fea24c36ebf0840114f6e94f9520056b2f23507

Can you have a look at it and see if you can tell me what about my code doesn't match your scenario? I know it's Ruby, but

[2017-10-17 20:02] khansen commented on #115
@bethesque Thanks, I made some good progress on this.
Managed to get a backtrace by changing
[code]
to
[code]
in pact-provider-verifier\lib\pact\provider_verifier\app.rb (too bad this isn't configurable).

[code]
Got the log from pact/lib/pact/provider/test_methods.rb replay_interaction:
[code]
Uh-oh, looks like header terms are not expanded ("reified") to a string the same way the query and body

[2017-10-17 20:05] khansen commented on #115
@bethesque @neilcampbell PactNet is on standalone version 1.4.4; I've tested with the latest (1.9.0) and the issue persists.

[2017-10-17 22:12] bethesque commented on #115
Sorry, this got automatically closed by my commit message. Please reopen it until we've gotten the fix into the .net package.

[2017-10-17 22:14] bethesque commented on #115
@neilcampbell can you update the standalone version to 1.9.1 please. There are some changes to the CLI, but they're backwards compatible, so you can just upgrade for now, and then make the changes later.

[2017-10-17 22:19] bethesque opened #116 "Upgrade to 1.9.1 standalone"
This version contains some CLI changes, and a bug fix (correcting the usage of Pact::Term headers when replaying the request.)

Changes required to .net code:

- [x] Instead of posting the consumer name, provider name, and pact file write mode in the POST /pact they should now be passed in to the command line `service` call using `--consumer`, `--provider` and `--pact-file-write-mode`. That last P

[2017-10-17 22:53] neilcampbell commented on #115
@bethesque Yep sure can.

[2017-10-18 13:28] vinogradoff opened #117 "Generate different example values in MinType"
Is it possible to generate different values for collections fields?

`MinType( new { id = Match.Type("id")}, 2) `

generates example
[code]

which fails for some Consumer UnitTest when they are trying to populate a dictionary with the examples.

Ideally I would like to have as example something like
[code]

for this case, autogenerated through pact framework.

[2017-10-18 13:43] adamrodger opened #118 "Ruby Regular Expressions Not Fully Supported"
I was writing a regular expression matcher and wanted a case-insensitive regex to match a GUID. For example, if you wanted to match a hex-style string you might use:
[code]
which would match `ABCD` and `abcd`.

However, this doesn't work because PactNet adds the leading and trailing forward slashes, so you can't specify the case-insensitive flag (or any other modifier after the final forward slash

[2017-10-18 20:04] bethesque commented on #118
As a work around, you could specify 0-9A-Za-z.
On Oct 19, 2017 12:43 AM, "Adam Rodger" <notifications@github.com> wrote:

[2017-10-18 20:29] adamrodger commented on #118
That's exactly what I've done 😀 I was matching a type 4 UUID though so it
makes the regex quite a bit longer. You couldn't use the /x option to
ignore whitespace/comments either.

It does look like you could use the (?i:A-Z) syntax as well, but that's no
more readable

On Wed, 18 Oct 2017, 21:04 Beth Skurrie, <notifications@github.com> wrote:

[2017-10-18 22:26] bethesque commented on #117
It's not currently, but we could add an "each like first” matcher to the
Ruby implementation that would take and return an array, but do the
marching based on the first example.
On Oct 19, 2017 12:28 AM, "Alexei Vinogradov" <notifications@github.com>
wrote:

[2017-10-18 22:38] bethesque commented on #117
@uglyog when type=match and min/match=X for an array is specified in the pact, the ruby impl uses the first object in the array as the template, and ignores any others (but prints a warning). What does the jvm impl do when there is an "array like" with more than one example?

[2017-10-18 23:02] uglyog commented on #117
The JVM does the same, except for the warning bit

[2017-10-18 23:47] neilcampbell commented on #115
I have updated to 1.9.1 and pushed the package to the Nuget feed, however Nuget is currently experiencing a service degradation, so it cannot be downloaded just yet. Hopefully will be fixed soon. https://status.nuget.org/

[2017-10-19 01:21] neilcampbell commented on #115
Everything appears to be good now.

[2017-10-19 01:26] neilcampbell commented on #116
Here's a strange one for you.

When the mock provider service runs and there is an old pact file which looks like the file on the left of https://github.com/SEEK-Jobs/pact-net/commit/3e9a1acd534177f1864333814378e1a7a2fcafd8#diff-ff44294f6772432fd207f6542cdb5cf0, then an extra '}' is appended to the bottom of the pact file when overwriting it and the verify fails. https://ci.appveyor.com/project/SE

[2017-10-19 02:19] bethesque commented on #116
That is the weirdest thing ever. There is a lock taken on the pact file now, so that multiple processes don't corrupt it, but it shouldn't cause that behaviour! Can you try and recreate it with the https://github.com/pact-foundation/pact-ruby-standalone-e2e-example project?

[2017-10-19 02:35] bethesque commented on #117
Cool, so it wouldn't break anything. Can you raise a request inhttps://github.com/pact-foundation/pact-support with a reference to this one @vinogradoff

[2017-10-19 02:59] neilcampbell commented on #116
@bethesque Yeah strange ay! Yep sure can.

[2017-10-19 06:57] khansen commented on #115
Verified fixed in latest Nuget. Great work, @bethesque and @neilcampbell !

The verifier is giving the warning
[code]
As mentioned in https://github.com/SEEK-Jobs/pact-net/issues/116, there's a change required to PactVerifierHostConfig Arguments to get rid of that.

[2017-10-19 09:45] khansen opened #119 "Individual verification of interactions"
PactVerifier.Verify() verifies all interactions in one go. For any non-trivial pact, this is not ideal:
- If there are 100 (independent) interactions and only one of them fails, the test (running in Visual Studio or TeamCity) as a whole will be marked as failing.
- All the verifier output goes into a single window that's difficult to scan for the information you need (about a particular failure, s

[2017-10-19 09:46] khansen commented on #119
@bethesque Any thoughts on this? Are there any existing verifier implementations out there that provide structured access to the verification results?

[2017-10-19 10:19] #115 closed

[2017-10-19 10:36] brumlemann commented on #119
As you well know @khansen I for one would totally dig this ;-) From a test philosophy angle it makes total sense that each test tries to prove one thing and one thing only.

My only nitpicking suggestion would be to ditch the Get in GetInteractions().

[2017-10-19 11:44] neilcampbell commented on #116
cli calls have been updated and a new package released. I am hoping to get some time this weekend to generate a repro of the behaviour I mentioned.

[2017-10-19 12:40] khansen commented on #119
@brumlemann Regarding the verifier output format, it's not all Gherkin style; there's also this section that describes failures:

[code]
So we'd need a parser for this diff as well.
The failures report is a separate section at the very end, so we would have to join that information with the earlier (Gherkin-style) definition of the interaction (note the "FAILED" assertion):

[code]

[2017-10-19 12:48] khansen commented on #119
@brumlemann If we were able to parse it all, though, I think we can create an implementation of Outputters.IOutput that just collects the output from the verifier, parses it and returns the representation we want. Add that to PactVerifierConfig.Outputters, and we could query the outputter for the results after the call to PactVerifier.Verify(). We would swallow PactFailureException thrown by PactC

[2017-10-19 20:39] bethesque commented on #119
There is already a way to run an individual interaction. Set the environment variables `PACT_DESCRIPTION="{the interaction description}"` and `PACT_PROVIDER_STATE="{the interaction provider state}"` and run your verification. They accept regular expressions too.

There was supposed to be text at the bottom of the test output indicating how to do this, but I'm guessing @neilcampbell hasn't gotten a

[2017-10-19 22:16] neilcampbell commented on #119
@bethesque Based on https://github.com/SEEK-Jobs/pact-net/issues/105 I thought you were adding it to the standalone verifier output. We just take that output and pipe to stdout, so I assumed it would just come through. Is that not the case?

@khansen @brumlemann Those environment variables are used for isolating failing verifications, so you don't need to run all verifications when trying to fix a

[2017-10-20 03:58] bethesque commented on #105
There is the output at the bottom of the specs when they fail that gives you information on how to run the individual interactions. For the ruby specs it looks like this:

[code]

So, to just run the first failing spec, the user would copy that first line and run it

[code]

The text for the "re-run command" is actually configurable, so each wrapper language (.net, python, js etc) can configure it

[2017-10-20 08:44] khansen commented on #119
@bethesque json output would be nice. It looks like the provider verifier is running rspec with "--format documentation". I tried "--format json" in a minimal local test project, just to see what it looks like:

[code]

The same spec with "--format documentation":

[code]

The json output looks promising. Is there any way to specify the output format when invoking pact-verifier-provider?

If there

[2017-10-20 09:36] bethesque commented on #119
The warnings would go to stderr and the json output would go to stdout. The JSON parser would just need to capture stdout. Assuming this is a thing in windows?

You can't currently configure the output, but it could be added. I don't have time to work on it at the moment, but if you're up for fiddling with some ruby code, I can show you where the changes need to go if you're interested in working

[2017-10-22 04:45] neilcampbell commented on #116
@bethesque I managed to create a repro. See https://github.com/neilcampbell/pact-ruby-standalone-e2e-example

I ran:
- ./script/install.sh
- ./script/consumer-create-pact.sh

The pact file ./pacts/foo-bar.json should now have a trailing `}` at the end.

[2017-10-22 05:05] neilcampbell commented on #118
@adamrodger Happy to accept a PR on this one 😄

[2017-10-22 05:19] neilcampbell commented on #105
@bethesque Yeah that's a little tricky. Most of common test runners are GUI based, and there is not one specific test framework that is used by everyone. I may need to add those two params back as arguments to the Verify method, and then set the text to show what the Verify method needs to look like. Thoughts?

[2017-10-23 06:38] khansen commented on #119
@bethesque Could you advise on how to hardcode json format in pact_spec_runner? I'd like to examine the output for our existing pacts to decide whether introducing this option is the way to go.

Both stdout and stderr are routed to IOutput.WriteLine(string line): https://github.com/SEEK-Jobs/pact-net/blob/master/PactNet/Core/PactCoreHost.cs#L108
The IOutput interface would have to be changed to le

[2017-10-24 11:47] neilcampbell commented on #119
@khansen It would be pretty easy to split stdout and stderr into their corresponding paths if that is needed. You could then use a custom IOutputter to parse the json and perform your custom reporting.

[2017-10-25 06:49] khansen commented on #119
@neilcampbell Yes, I'd like to try that once I manage to configure rspec to give json output. Tried adding
[code]
in pact_spec_runner.rb, but this gives both documentation output _and_ json output. I can't find an api in
https://github.com/rspec/rspec-core/blob/master/lib/rspec/core/configuration.rb to get rid of the documentation formatter.

Regarding PactNet api: Are you ok with source-incompati

[2017-10-29 23:25] bethesque commented on #116
I bumped into it myself today. I've worked out what it is, but I'm unsure if the fix will work on windows, because the documentation for the 'truncate' method said that it wasn't supported on all platforms. I'll release and we'll see!

[2017-10-29 23:45] bethesque commented on #116
I've released 1.13.0 of the standalone. Can you give it a go on windows?

[2017-10-29 23:45] neilcampbell commented on #116
Yep will do!

[2017-10-30 01:14] bethesque commented on #119
In the latest release of the standalone, I've added an option to specify the formatter for the provider verifier. See https://github.com/pact-foundation/pact-ruby-standalone/releases/tag/v1.13.0#pact-provider-verifier

Note that this formatter does not aggregate the failures by interaction, so you'll see one error for each failed status, header and body.

I've cleaned up the printing to stdout and

[2017-11-01 08:30] nirpet opened #120 "Support for interaction with message queues"
Some of my DotNet services communicate with each other via Message Queues.
I saw that in the pact-jvm repository they defined a new pact file for interactions with message queues.
Is adding support for this new file (creating and verifing) planned to be added in the future?

[2017-11-01 09:10] neilcampbell commented on #120
Hi @nirpet
The goal is to have consistent support across all the Pact languages, however as you mentioned we are not there yet. We are hoping to have this support at some point, however I think this will be quite a while off.

[2017-11-01 09:11] #117 closed

[2017-11-01 09:11] #118 closed

[2017-11-01 09:38] nirpet commented on #120
Hi, Thanks for the reply.
Is it possible to be added as a contributor in order to create this feature?

[2017-11-01 10:52] neilcampbell commented on #116
@bethesque That seems to have fixed it on windows as well. Thanks for sorting that out!

[2017-11-01 10:53] #116 closed

[2017-11-01 10:59] neilcampbell commented on #120
@nirpet The best way to contribute is via forking and a PR. Heads up we now use the ruby standalone core (https://github.com/pact-foundation/pact-ruby-standalone) as the Pact engine, so in order to get this working in .NET we will need to get it working on the ruby standalone core as well. Our goal is for all the language implementations to use the same core, so that we have less feature divergenc

[2017-11-01 11:51] nirpet commented on #120
Okay, thanks!

[2017-11-01 22:19] #120 closed

[2017-11-07 11:21] neilcampbell opened #121 "Add support for can i deploy"
https://github.com/pact-foundation/pact_broker-client#can-i-deploy

[2017-11-07 20:08] bethesque commented on #121
I was actually expecting this to be called as part of the build pipeline, and hence, just be called from the command line. But if you think that it's more accessible to call it via the code, then great!

[2017-11-07 22:13] neilcampbell commented on #121
@bethesque I more created this issue as a reminder to decide what do with it, even if that is as simple as document the feature and how to use it.

[2017-11-08 01:13] waelemara opened #122 "Add Support to customize the Host"
Hi, Can we add support to customize the host when we run pact-mock-service.
https://github.com/SEEK-Jobs/pact-net/blob/5fdaaf2eb87bcc1a39796408c1f1786a8679fd49/PactNet/Core/MockProviderHostConfig.cs#L14

I the prev class can we add an extra parameter "host" that we pass it down to pact-mock-service to fix this issue https://github.com/pact-foundation/pact-mock_service/issues/79

I'm happy to send

[2017-11-08 01:46] bethesque commented on #122
One thing to note is that the host that the mock service is bound on (eg. 0.0.0.0) is going to be different from the host it is contacted on (eg. 127.0.0.1). Perhaps a distinction should be made in the naming.

[2017-11-08 01:51] waelemara commented on #122
@neilcampbell  thanks, will raise a PR soon
@bethesque
I was going to change the constructor to accept a new parameter "host" with a default value "empty string" if the user did not pass it then I do not pass it and leave the pact library work with its defaults.

The name of the variable will be "host" do you have other suggestions?

[2017-11-08 05:22] waelemara commented on #122
I went ahead with the option I mentioned before, It will not work because we pass these args to a script rather than calling the actual service. As @bethesque explained in this ticket https://github.com/pact-foundation/pact-mock_service/issues/79
Not sure what is the next step that I can take right now.

Thanks

[2017-11-08 05:27] neilcampbell commented on #122
@waelemara Sorry I don't understand. Are you able to elaborate? Are your talking about the pact-mock-service.sh script?

[2017-11-08 05:41] waelemara commented on #122
@neilcampbell  yes, the parameter needs to be passed to the pact-mock-service.sh, however, the solution I mentioned above is passing it to pact-mock-service.rb script.

[2017-11-08 06:11] neilcampbell commented on #122
Why would it only be passed to the pact-mock-service.rb script?

[2017-11-08 06:14] waelemara commented on #122
I think you are right after digging a little bit the process that is getting triggered is pact-mock-service.sh, the reason I thought it is only the pact-mock-service.rb is this error that I got after adding the host option

ERROR: "pact-mock-service.rb service" was called with arguments ["Website", "API"]
Usage: "pact-mock-service.rb service"

[2017-11-08 06:15] neilcampbell commented on #122
@waelemara What version are you using? We fixed that issue last night. Try 2.0.21

[2017-11-08 06:33] waelemara commented on #122
I was running an old version, just updated thanks.
@neilcampbell is running the integration tests enough, or there is another suggested testing approach?

[2017-11-08 07:02] waelemara commented on #122
I have created an initial PR https://github.com/SEEK-Jobs/pact-net/pull/123 to kick off the review process.

Thanks for your time today.

[2017-11-08 07:25] neilcampbell commented on #122
@waelemara Added some comments to the PR

[2017-11-08 12:00] vinogradoff opened #124 "Support for random free ports for the mock"
Using .NET Pact Framework, is there any feature for choosing arbitrary free port for the mocks, built-in in the framework?

The reason is, that when some CI Jobs running in parallel for different services, ports collision is possible when the ports are hard-coded.

[2017-11-08 22:15] neilcampbell commented on #124
@vinogradoff No unfortunately not. Because the port is passed into Pact, you have full control of finding a free port using something like this https://stackoverflow.com/questions/138043/find-the-next-tcp-port-in-net.

I had thought about building this into Pact, however it would have to work cross platform and I think it makes things more flexible to just recommend the test code decide which port

[2017-11-09 00:38] waelemara commented on #122
@neilcampbell  thanks for your comments, I have addressed them when you have the time it would be great to have a look at the changes.

And if you can advise on the approach of e2e test the changes that would be great.

Thanks

[2017-11-09 00:51] neilcampbell commented on #122
@waelemara Merged. If all the tests pass, that is all that is needed. We run the samples on the build server, so that will pick up anything breaking changes.

[2017-11-09 01:00] waelemara commented on #122
Awesome, let me know the results 👍 once it is ready.

[2017-11-09 02:03] waelemara commented on #122
@neilcampbell, I have looked into the integration tests and found a place where I can test the code, and when I pass 0.0.0.0 it fails with the following error

=========
Message: System.AggregateException : One or more errors occurred.
---- System.AggregateException : One or more errors occurred.
-------- System.Net.Http.HttpRequestException : An error occurred while sending the request.
---------

[2017-11-09 02:04] waelemara commented on #122
I will create another PR and let me know your thoughts. @neilcampbell

[2017-11-09 02:08] neilcampbell commented on #122
@waelemara Oh right, I assumed you had already tested you changes.
Keep me posted.

[2017-11-09 02:13] waelemara commented on #122
I will also add the Linux package into the Integration tests and test in a container just to be sure,
Stay tuned

[2017-11-09 05:59] waelemara commented on #122
@neilcampbell  I have finished testing on a Linux Container, and the pact server now can be accessed from outside the container. So it is safe now to merge the PR if you are happy with it.

as a side note, I was not able to update the tests to run on Linux because they are a full dotnet framework projects, so I had to create a test console application and ran it in the Linux container.

Thanks

[2017-11-09 10:01] neilcampbell commented on #122
@waelemara I had a look at the change. There is one issue, what if the chosen host is something other than localhost (or variants of that), the AdminHttpClient will not be able to talk to the mock provider service, which is needed for everything to work.

Another option could be to revert back to using the Uri, however when passing it to the AdminHttpClient detect if it's 0.0.0.0, and change to lo

[2017-11-09 10:22] waelemara commented on #122
@neilcampbell  from the docs of pact-mock-service this is what the host flag will do
-h, [--host=HOST] # Host on which to bind the service
                                 # Default: localhost

And from the information that you just mentioned, exposing the host flag can cause issues, the consumer of the library has to know that when using localhost as a base url he needs to use 0.0.0.0 and if he/s

[2017-11-09 10:33] neilcampbell commented on #122
I am a bit confused by what you mean here.

Are you suggesting that the MockService call takes a uri rather than port, enableSsl and host? I think I would prefer to keep the API surface area compatible, so adding the host is more desirable IMO.

[2017-11-09 10:42] waelemara commented on #122
My suggestion is to leave the API surface area intact, and drive the value of the host flag from the base URI that the user can pass to MockProviderServiceBaseUri , if the user passes localhost then we use 0.0.0.0 , if the user passes something else we use URI.Host to pass it down to pact-mock-service

Regarding what I mean in my prev comment,
If AdminHttpClient needs to be able to reach mock prov

[2017-11-09 11:21] neilcampbell commented on #122
Where does the user pass a base URI to MockProviderServiceBaseUri? AFAIK the user can only pass a port on the current API surface area.

[2017-11-09 21:21] bethesque commented on #122
Why not have a host and a bind host, as separate parameters? One is passed to the start up command, and the other is used by the client. The bind host can default to the host if not specified.

[2017-11-09 22:50] bethesque commented on #105
Sounds like that's the best way to make it work on windows. The text should include something about not checking the filters in accidentally!

[2017-11-09 22:58] neilcampbell commented on #122
Yeah could do, however I don't think we need to. If we get a host of 0.0.0.0, we use localhost for the  admin http client calls. If we get anything else, we use what was sent as the host for both the bind and admin http client calls. I'm happy to get this working tomorrow.

[2017-11-09 23:00] waelemara commented on #122
@neilcampbell  and @bethesque, I have a suggestion, we can do something similar to ASP.NET core when it comes to configuring the IP address that we server can listen to
We can introduce an enum with two values for now IPAddress.Any and IPAddress.Loopback
IPAddress.Any option will pass down 0.0.0.0
IPAddress.Loopback will leave the underlying ruby package to it's default.

[2017-11-09 23:03] neilcampbell commented on #122
Is there any scenario where we want to bind a specific IP or hostname?

[2017-11-09 23:03] waelemara commented on #122
To my knowledge no.

[2017-11-09 23:32] waelemara commented on #122
@neilcampbell I'm happy to go ahead and do the changes you recommended and update the PR

[2017-11-10 00:04] neilcampbell commented on #122
@bethesque Can you think of any scenario where the user would bing a specific IP address or hostname that isn't 0.0.0.0 or 127.0.0.2/localhost?

[2017-11-10 01:08] bethesque commented on #122
No. I've never come across it.

[2017-11-10 01:10] neilcampbell commented on #122
@waelemara Yeah I think your idea of the enum will work nicely. Go for it :D

[2017-11-10 01:22] waelemara commented on #122
@neilcampbell can I pass this IPAddress flag to RubyHttpHost now? rather than driving it from baseUrl, they seem to be different things.

[2017-11-10 01:28] neilcampbell commented on #122
Yep, sounds good.

[2017-11-10 06:09] waelemara commented on #122
Changes made and PR ready for review.

[2017-11-11 03:29] #124 closed

[2017-11-11 04:20] neilcampbell commented on #122
Merged and released in 2.1.1

[2017-11-11 04:20] #122 closed

[2017-11-13 13:55] 4l1ce opened #126 "Can the HttpVerb enum be expanded with Options?"
can this enum be expanded with options http verb?
`public enum HttpVerb
  {
    NotSet,
    Get,
    Post,
    Put,
    Delete,
    Head,
    Patch,
  }`

Thank you

[2017-11-13 15:32] 4l1ce commented on #126
I'd be happy to create a pull request, but I don't have enough permissions.

[2017-11-13 23:38] neilcampbell commented on #126
Yep sure can.

[2017-11-14 04:00] mattermack opened #127 "Change default target framework for .Net Core"
With the release of .Net Standard / Core 2.0, change the default target framework

[2017-11-14 04:02] mattermack commented on #127
Dup of Change default target framework for .Net Core #128

[2017-11-14 04:02] #127 closed

[2017-11-16 22:10] neilcampbell commented on #126
Hey @bethesque does the ruby standalone have support for the Options HTTP method? I am getting the below when trying to use it.

The Events API request for OPTIONS http://localhost:9222/test failed. Response Status: 500, Response Body: {"message":"Error ocurred in mock service: NoMethodError - undefined method `match' for nil:NilClass","backtrace":["C:/src/OS/pact-net/Samples/EventApi/Consumer.Tes

[2017-11-16 22:48] bethesque commented on #126
Yes, CORS Is supported, see the docs here: https://github.com/pact-foundation/pact-mock_service/wiki/Using-the-mock-service-with-CORS

[code]

It's blowing up because there is no `Access-Control-Request-Headers` header. The Ruby code should be able handle this better, but at the same time, I think it's a required header.

[2017-11-21 22:40] neilcampbell commented on #126
@4l1ce Just wanted to confirm that you are using the OPTIONS HTTP method for CORS related things and not something else?

[2017-11-22 06:00] 4l1ce commented on #126
@neilcampbell yes, UI is making call using OPTIONS then regular GETs. Adding the header allow-cross-origin is not enough :)

[2017-11-23 05:56] neilcampbell commented on #126
@4l1ce Updated. This is available in 2.1.2. As Beth mentioned you will need to ensure the "Access-Control-Request-Headers" header is sent in the request.

[2017-11-23 05:56] #126 closed

[2017-11-26 07:00] neilcampbell commented on #119
The ability to filter failing interactions with the corresponding instructions has been added in 2.2.0

[2017-11-26 22:31] bethesque commented on #119
👍

[2017-11-29 13:34] khansen commented on #119
@bethesque Thanks for the --format json option. I've implemented a PoC in PactNet (extending the IOutput interface to be able to differentiate between stdout and stderr) that uses this representation to implement a MemberData-driven xUnit test. Works well! A few questions regarding the json fields:
- Would it be possible to provide the information in full_description in a more structured format? C

[2017-11-29 22:38] bethesque commented on #119
I've been working on a format to send back to the pact broker, and this is what I've got so far:

[code]

There's no current way to get a line number from the pact, but the interaction description and provider state should help locate it.

[2017-12-05 02:31] KenWang007 opened #129 "How to implement customize output for pact?"
Hi Brother,

How to implement customize output for PactVerifierConfig , currently i use NUnit test framework in out project , and i want to output the pact test result in unit test window, but it didn't work , can you give some demo code to handle it , thanks .

currently code as bellow:

`

            const string serviceUri = "http://localhost:51502";

            var config = new PactVerifierC

[2017-12-05 12:07] neilcampbell commented on #129
Hi @KenWang007
We implement and register a console outputter automatically, so there should be no need to do this, however if you are trying to implement a custom one, this is the correct way.

That error message is not actually asking you to implement a custom Outputter, it is saying that there is a Pact verification failure (something to do with your test) and you should check the console output

[2017-12-05 17:19] ardz opened #130 "Build fails when adding PactWindows nuget package to .net core project"
Severity	Code	Description	Project	File	Line	Suppression State
Error	MSB3021	Unable to copy file "C:\Users\bob\.nuget\packages\pactnet.windows\2.2.0\tools\pact-win32\lib\vendor\ruby\2.2.0\gems\pact-mock_service-2.6.0\lib\pact\mock_service\request_handlers\base_administration_request_handler.rb" to "bin\Debug\netcoreapp2.0\pact-win32\lib\vendor\ruby\2.2.0\gems\pact-mock_service-2.6.0\lib\pact\mock_s

[2017-12-06 10:56] neilcampbell commented on #130
Hi @ardz
Unfortunately that is a windows limitation, so there is not much I can do.
Doing a character count on both those paths listed is less than the character limit, so not sure what is going on there. Is the path to your project quite long? Can you try shorting the path where your source code is stored?

[2017-12-08 11:25] ardz commented on #130
The interesting thing is, when you use a .net standard project and add the the nuget package the build doesn't fail with the above error.

However, the examples for pact net use xUnit test framework, and to use the xUnit test framework with VS2017 you need to make the project a .net core project.

:|

[2017-12-10 03:51] neilcampbell commented on #130
Hmm, thats odd. You can use whatever test framework you like, PactNet is completely agnostic.

[2017-12-10 03:51] #129 closed

[2017-12-11 08:32] KenWang007 opened #131 "How to config pact log path ?"
Hi brother

Currently the default pact provider end log path is base directory which our application run(bin\Debug\log\pact.log) , how to change the log output directory to specific path and give a better file name ?

thanks.

[2017-12-11 23:17] neilcampbell commented on #131
Hi @KenWang007
An example of this is in the readme https://github.com/pact-foundation/pact-net#2-describe-and-configure-the-pact-as-a-service-consumer-with-a-mock-service

[code]

[2017-12-11 23:20] neilcampbell commented on #131
Also you can't change the filename

[2017-12-12 02:02] KenWang007 commented on #131
Thanks for your response, i saw it before , and it's consumer log directory rather than provider , i mean how to config provider log path. Currently we have single front-end and back-end , we use pact.js in front-end(consumer) and use PactNet in back-end(provider),  front-end generate the contract json file and backend-end call actual service to verify it. So i want to config log output path for b

[2017-12-12 06:00] neilcampbell commented on #131
Sorry my mistake, didn't read properly. There is no way to set a log file path for the pact verifier, as no log file is generated by the ruby standalone core.

You can create an Outputter like you have done above, however when doing this you take full control of how and where the file is written.

Does that help?

[2017-12-12 11:21] KenWang007 commented on #131
Yes, thanks for your response., thanks very much.

[2017-12-14 13:54] ardz opened #132 "No interaction/internal 500 error"
Ok so this perhaps isn't an issue but I can't seem to find any additional info on this. I've setup the mock with the following:

               `MockProviderService.Given($"There is a person with id '{personId}'")
                .UponReceiving($"A GET request to retrieve person with id '{personId}'")
                .With(new ProviderServiceRequest
                {
                    Method = H

[2017-12-14 21:57] #131 closed

[2017-12-14 22:00] neilcampbell commented on #132
Are you sending the `Accept: application/json` header in the request?

[2017-12-14 22:54] bethesque commented on #132
If it was just the content type that was wrong, you'd get an interaction in the `interaction_diffs` array, and it would show you that the content type was wrong. I would infer from this that the interaction was not set up at all at the time that the GET request was made.

[2017-12-14 22:56] bethesque commented on #131
Actually, there is a log file when verifying. It contains all the requests and the responses. The configuration is just not exposed in the CLI. I can add it if you would like?

[2017-12-15 11:23] ardz commented on #132
OK, so my buddy has worked out what the issue was:

`            // needed this
            MockProviderService.Start();

            #region Pact Mock Provider Setup

            MockProviderService.Given("There is a something with id 'tester'")
                .UponReceiving("A GET request to retrieve the something")
                .With(new ProviderServiceRequest
                {

[2017-12-15 11:38] neilcampbell commented on #132
Start shouldn't be needed, as calling `PactBuilder.MockService(...)` will give you a hot (running) mock provider service. See https://github.com/pact-foundation/pact-net/blob/master/PactNet/PactBuilder.cs#L86. That is only really used if you want to restart the service.

You definitely had a running mock provider service, as it's responding to HTTP requests and giving you a 500.

[2017-12-15 12:15] ardz commented on #132
@neilcampbell yeah, removed the Start Method call.

[2017-12-15 14:40] ardz commented on #132
@neilcampbell Neil, why is it that I need to include:

Query = ""

In the ProviderServiceRequest parameters? I notice in all your code examples you don't have this but it throws a 500 error if I don't include it?

[2017-12-18 01:31] neilcampbell commented on #132
@ardz You don't need the query. I'm not sure why that would be the case. The only real way for me to help any further is if you create a sample of your problem that I can run.

[2017-12-18 18:22] Blackbaud-JonathanBell opened #133 ".NET Core Example needed"
I see that pact-net was updated to target .NET Standard to support .NET Core applications.  I think a provider example is needed to illustrate how this should work.

Trying it out, I can't get it to work with the `TestServer` class, which I generally use in my unit test projects.  However,  I get the error:

`No connection could be made because the target machine actively refused it. - connect(2)

[2017-12-18 18:23] Blackbaud-JonathanBell commented on #78
Has anyone in this thread actually implemented PACT for a .NET Core provider?  I can't get the test server to work with the pact verifier.  I'm looking for some basic example of how this should work...

https://github.com/pact-foundation/pact-net/issues/133

[2017-12-18 20:27] daveboyle1 commented on #78
test server won't work because it is purely in memory. You need to have a proper network connecting server. e.g. create a full blooded kestrel host for your tests. You can create a test startup that overrides methods in your standard startup class. use this test startup to override the provider middleware that you will need to create based on the new documentation. You can also override any db con

[2017-12-18 22:02] neilcampbell commented on #133
Yeah unfortunately we don't have a sample with .NET core in the repo. Definitely agree that it would be great to have one. You'd implement as @daveboyle1 mentioned in https://github.com/pact-foundation/pact-net/issues/78#issuecomment-352548020. Once you get it all working would you mind creating a PR to add a simple .NET core sample into the Samples dir?

[2017-12-27 05:18] #132 closed

[2017-12-27 05:18] #133 closed

[2018-01-05 10:43] gruntster opened #135 "Verification borks on Linux when source directory contains a space"
Pact verification borks on Linux when the source directory contains a space; Windows works fine.

I'm using the following patch to workaround the issue:

[code]